nodered/mvkflows.json
[{"id":"c85f59a7.3ec628","type":"tab","label":"IotArtOlDWS"},{"id":"9d84b2c7.33e3f","type":"tab","label":"IoTEventsAsWebSockets"},{"id":"fc19238c.0aebc","type":"tab","label":"WatsonTalk"},{"id":"2de5a422.86f2bc","type":"tab","label":"WiesnSchaft"},{"id":"7d9a4670.698a98","type":"tab","label":"Hursely"},{"id":"1876a307.2e935d","type":"websocket-listener","path":"/ws/audio","wholemsg":"false"},{"id":"f59f3a16.57f828","type":"ibmiot","z":"","name":"MuCWIoTP","keepalive":"60","cleansession":true,"appId":"","shared":false},{"id":"cb20304d.c89ef","type":"websocket-listener","z":"","path":"/muciotsensors1","wholemsg":"false"},{"id":"6115cabf.f4a944","type":"websocket-listener","z":"","path":"/muciotsensors2","wholemsg":"false"},{"id":"fd9beaaf.5eeec8","type":"websocket-listener","z":"","path":"/muciotsensors","wholemsg":"false"},{"id":"622813fd.ead30c","type":"twitter-credentials","z":"","screen_name":"@markusvankempen"},{"id":"e4ee68f6.d6ce58","type":"websocket-listener","z":"","path":"/ws/delayediotevents","wholemsg":"false"},{"id":"e32c02cb.f1493","type":"websocket-listener","z":"","path":"/ws/delayediotevents0","wholemsg":"false"},{"id":"34cf7466.e56b8c","type":"websocket-listener","z":"","path":"/ws/delayediotevents1","wholemsg":"false"},{"id":"9b1b009a.55209","type":"ibmiot","z":"","name":"Munich IoT","keepalive":"60","cleansession":true,"appId":"","shared":false},{"id":"f2f49ba.e042468","type":"ibmiot","z":"","name":"Hursley","keepalive":"60","cleansession":true,"appId":"IoTArtBE","shared":false},{"id":"3ccb8c42.c05004","type":"ibmiot","z":"","name":"MarkusNewKeyTOh9eyui","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"71b58b22.a6646c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d4814cb.3f1bcb","type":"function","z":"c85f59a7.3ec628","name":"formatoutput","func":"\nvar today = new Date();\nvar myToday = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 0, 0, 0);\nvar myYesterday = new Date(myToday) - 86400000;\nmyYesterdayDate = new Date(myYesterday);\nvar oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds\nvar firstDate = new Date(2017,02,15,0,0,0); //mucopen\nvar secondDate = new Date(2017,08,16,0,0,0);\n\nvar diffDays = Math.round(Math.abs((today.getTime() - secondDate.getTime())/(oneDay)));\n\nvar zeitdif = secondDate.getTime()- today.getTime();\n\nvar Seconds_from_T1_to_T2 = (zeitdif/1000);\nvar Seconds_Between_Dates = Math.abs(Seconds_from_T1_to_T2);\n\nvar data = \"{\";\n//var zahl = (diffDays - ((diffDays /7)*2)) *420;\n//(238 - (238/7 *2 ) )*420\n\nvar zahl = Math.round((Seconds_from_T1_to_T2 - ((Seconds_from_T1_to_T2 /(7*86400))*(2*86400))) * (420/86400));\n\nvar weekNumber =1;\n\nvar today = new Date();\n\n\tdata+= \"\\\"myName\\\":\\\"meetingroomstobook\\\",\";\n\tdata+= \"\\\"startDate\\\":\\\"15-Feb-2016\\\",\"; // 15-Feb\n    data+= \"\\\"endDate\\\":\\\"16-Sep-2016\\\",\"; // 16 Sep\n    data+= \"\\\"question\\\":\\\"Meeting Rooms to book\\\",\"; // 16 Sep\n    data+= \"\\\"today\\\":\"+today+\",\";\n    data+= \"\\\"diffDays\\\":\"+diffDays+\",\";\n    data+= \"\\\"math\\\":\"+Math.abs((firstDate.getTime() - secondDate.getTime()))+\",\"\n    data+= \"\\\"zahl\\\":\"+zahl+\",\";\n    data+= \"\\\"max\\\":\"+100000000+\",\";\n    data+= \"\\\"ts\\\":\"+Date.now()/1000;\n   \ndata+= \"}\";\nmsg.payload = data;\n\n  \nreturn msg;","outputs":1,"noerr":0,"x":416,"y":120,"wires":[["b3eda5df.5eb748","38a669e6.2e6ed6"]]},{"id":"b3eda5df.5eb748","type":"debug","z":"c85f59a7.3ec628","name":"","active":true,"console":"false","complete":"payload","x":621,"y":60,"wires":[]},{"id":"79f8238f.41a39c","type":"http in","z":"c85f59a7.3ec628","name":"/meetingroomstobook","url":"/meetingroomstobook","method":"get","swaggerDoc":"","x":165,"y":124,"wires":[["d4814cb.3f1bcb"]]},{"id":"38a669e6.2e6ed6","type":"http response","z":"c85f59a7.3ec628","name":"","x":661,"y":120,"wires":[]},{"id":"cc80f2.b0418f1","type":"function","z":"c85f59a7.3ec628","name":"formatoutput","func":"\nvar today = new Date();\nvar myToday = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 0, 0, 0);\nvar myYesterday = new Date(myToday) - 86400000;\nmyYesterdayDate = new Date(myYesterday);\nvar oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds\nvar firstDate = new Date(2017,02,15,0,0,0); //mucopen\nvar secondDate = new Date(2017,08,16,0,0,0);\n\nvar diffDays = Math.round(Math.abs((today.getTime() - secondDate.getTime())/(oneDay)));\n\nvar zeitdif = secondDate.getTime()- today.getTime();\n\nvar Seconds_from_T1_to_T2 = zeitdif / 1000;\nvar Seconds_Between_Dates = Math.abs(Seconds_from_T1_to_T2);\n\nvar data = \"{\";\n//var zahl = (diffDays - ((diffDays /7)*2)) *420;\n//(238 - (238/7 *2 ) )*420\n\nvar zahl =  Math.round((Seconds_from_T1_to_T2 - ((Seconds_from_T1_to_T2 /(7*86400))*(2*86400))) * (420/86400));\n\nvar weekNumber =1;\n\nvar today = new Date();\n\n\tdata+= \"\\\"myName\\\":\\\"meetingroomstobook\\\",\";\n\tdata+= \"\\\"startDate\\\":\\\"15-Feb-2016\\\",\"; // 15-Feb\n    data+= \"\\\"endDate\\\":\\\"16-Sep-2016\\\",\"; // 16 Sep\n    data+= \"\\\"question\\\":\\\"Meeting Rooms to book\\\",\"; // 16 Sep\n    data+= \"\\\"today\\\":\"+today+\",\";\n    data+= \"\\\"diffDays\\\":\"+diffDays+\",\";\n    data+= \"\\\"math\\\":\"+Math.abs((firstDate.getTime() - secondDate.getTime()))+\",\"\n    data+= \"\\\"zahl\\\":\"+zahl+\",\";\n    data+= \"\\\"ts\\\":\"+Date.now()/1000;\n   \ndata+= \"}\";\nmsg.payload = zahl;\n\n  \nreturn msg;","outputs":1,"noerr":0,"x":404,"y":213,"wires":[["40b25204.97bf3c"]]},{"id":"6f8fee60.72a93","type":"inject","z":"c85f59a7.3ec628","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":150.5,"y":210.25,"wires":[["cc80f2.b0418f1"]]},{"id":"4ccbba47.c4fae4","type":"function","z":"c85f59a7.3ec628","name":"formatoutput2","func":"\nvar today = new Date();\nvar myToday = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 0, 0, 0);\nvar myYesterday = new Date(myToday) - 86400000;\nmyYesterdayDate = new Date(myYesterday);\nvar oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds\nvar firstDate = new Date(2017,02,15,0,0,0); //mucopen\nvar secondDate = new Date(2017,08,16,0,0,0);\n\nvar diffDays = Math.round(Math.abs((today.getTime() - secondDate.getTime())/(oneDay)));\n\nvar zeitdif = secondDate.getTime()- today.getTime();\n\nvar Seconds_from_T1_to_T2 = (zeitdif/1000);\nvar Seconds_Between_Dates = Math.abs(Seconds_from_T1_to_T2);\n\nvar data = \"{\";\n\n// (tdiff) - tft)) * %code * xdev * xavgcode;\n\nvar zahl = Math.round((Seconds_from_T1_to_T2 - ((Seconds_from_T1_to_T2 /(7*86400))*(2*86400))) * 130 * (18.6 / 3600) * 0.75);\n\n\nvar weekNumber =1;\n\nvar today = new Date();\n\n\tdata+= \"\\\"myName\\\":\\\"meetingroomstobook\\\",\";\n\tdata+= \"\\\"startDate\\\":\\\"15-Feb-2016\\\",\"; // 15-Feb\n    data+= \"\\\"endDate\\\":\\\"16-Sep-2016\\\",\"; // 16 Sep\n    data+= \"\\\"question\\\":\\\"Lines of code to write\\\",\"; // 16 Sep\n    data+= \"\\\"today\\\":\"+today+\",\";\n    data+= \"\\\"diffDays\\\":\"+diffDays+\",\";\n    data+= \"\\\"math\\\":\"+Math.abs((firstDate.getTime() - secondDate.getTime()))+\",\"\n    data+= \"\\\"zahl\\\":\"+zahl+\",\";\n    data+= \"\\\"max\\\":\"+100000000+\",\";\n    data+= \"\\\"ts\\\":\"+Date.now()/1000;\n   \ndata+= \"}\";\nmsg.payload = data;\n\n  \nreturn msg;","outputs":1,"noerr":0,"x":416,"y":381,"wires":[["8f5a6758.aceb78","61546af0.364064"]]},{"id":"8f5a6758.aceb78","type":"debug","z":"c85f59a7.3ec628","name":"","active":true,"console":"false","complete":"false","x":611,"y":321,"wires":[]},{"id":"99c5ccb5.0f1ab","type":"http in","z":"c85f59a7.3ec628","name":"/codetowrite","url":"/codetowrite","method":"get","swaggerDoc":"","x":125,"y":383,"wires":[["4ccbba47.c4fae4"]]},{"id":"61546af0.364064","type":"http response","z":"c85f59a7.3ec628","name":"","x":651,"y":381,"wires":[]},{"id":"3651af9e.4a997","type":"function","z":"c85f59a7.3ec628","name":"formatoutput3","func":"\nvar today = new Date();\nvar myToday = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 0, 0, 0);\nvar myYesterday = new Date(myToday) - 86400000;\nmyYesterdayDate = new Date(myYesterday);\nvar oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds\nvar firstDate = new Date(2017,02,15,0,0,0); //mucopen\nvar secondDate = new Date(2017,08,16,0,0,0);\n\nvar diffDays = Math.round(Math.abs((today.getTime() - secondDate.getTime())/(oneDay)));\n\nvar zeitdif = secondDate.getTime()- today.getTime();\n\nvar Seconds_from_T1_to_T2 = (zeitdif/1000);\nvar Seconds_Between_Dates = Math.abs(Seconds_from_T1_to_T2);\n\nvar data = \"{\";\n//var zahl = (diffDays - ((diffDays /7)*2)) *420;\n//(238 - (238/7 *2 ) )*420\n\nvar zahl = Math.round((Seconds_from_T1_to_T2 - ((Seconds_from_T1_to_T2 /(7*86400))*(2*86400))) * 226 * (7/86400));\n\nvar weekNumber =1;\n\nvar today = new Date();\n\n\tdata+= \"\\\"myName\\\":\\\"meetingroomstobook\\\",\";\n\tdata+= \"\\\"startDate\\\":\\\"15-Feb-2016\\\",\"; // 15-Feb\n    data+= \"\\\"endDate\\\":\\\"16-Sep-2016\\\",\"; // 16 Sep\n    data+= \"\\\"question\\\":\\\"Meeting Rooms to book\\\",\"; // 16 Sep\n    data+= \"\\\"today\\\":\"+today+\",\";\n    data+= \"\\\"diffDays\\\":\"+diffDays+\",\";\n    data+= \"\\\"math\\\":\"+Math.abs((firstDate.getTime() - secondDate.getTime()))+\",\"\n    data+= \"\\\"zahl\\\":\"+zahl+\",\";\n    data+= \"\\\"max\\\":\"+100000000+\",\";\n    data+= \"\\\"ts\\\":\"+Date.now()/1000;\n   \ndata+= \"}\";\nmsg.payload = data;\n\n  \nreturn msg;","outputs":1,"noerr":0,"x":412,"y":627,"wires":[["80b85baf.fab248","69fd33e8.cbba8c"]]},{"id":"80b85baf.fab248","type":"debug","z":"c85f59a7.3ec628","name":"","active":true,"console":"false","complete":"payload","x":607,"y":567,"wires":[]},{"id":"1d5ffd58.4f4463","type":"http in","z":"c85f59a7.3ec628","name":"/elevatorrides","url":"/elevatorrides","method":"get","swaggerDoc":"","x":121,"y":631,"wires":[["3651af9e.4a997"]]},{"id":"69fd33e8.cbba8c","type":"http response","z":"c85f59a7.3ec628","name":"","x":647,"y":627,"wires":[]},{"id":"e85ba9a1.cbe4f8","type":"function","z":"c85f59a7.3ec628","name":"formatoutput3","func":"\nvar today = new Date();\nvar myToday = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 0, 0, 0);\nvar myYesterday = new Date(myToday) - 86400000;\nmyYesterdayDate = new Date(myYesterday);\nvar oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds\nvar firstDate = new Date(2017,02,15,0,0,0); //mucopen\nvar secondDate = new Date(2017,08,16,0,0,0);\n\nvar diffDays = Math.round(Math.abs((today.getTime() - secondDate.getTime())/(oneDay)));\n\nvar zeitdif = secondDate.getTime()- today.getTime();\n\nvar Seconds_from_T1_to_T2 = zeitdif / 1000;\nvar Seconds_Between_Dates = Math.abs(Seconds_from_T1_to_T2);\n\nvar data = \"{\";\n//var zahl = (diffDays - ((diffDays /7)*2)) *420;\n//(238 - (238/7 *2 ) )*420\n\nvar zahl = Math.round((Seconds_from_T1_to_T2 - ((Seconds_from_T1_to_T2 /(7*86400))*(2*86400))) * 226 * (7/86400));\n\nvar weekNumber =1;\n\nvar today = new Date();\n\n\tdata+= \"\\\"myName\\\":\\\"meetingroomstobook\\\",\";\n\tdata+= \"\\\"startDate\\\":\\\"15-Feb-2016\\\",\"; // 15-Feb\n    data+= \"\\\"endDate\\\":\\\"16-Sep-2016\\\",\"; // 16 Sep\n    data+= \"\\\"question\\\":\\\"Meeting Rooms to book\\\",\"; // 16 Sep\n    data+= \"\\\"today\\\":\"+today+\",\";\n    data+= \"\\\"diffDays\\\":\"+diffDays+\",\";\n    data+= \"\\\"math\\\":\"+Math.abs((firstDate.getTime() - secondDate.getTime()))+\",\"\n    data+= \"\\\"zahl\\\":\"+zahl+\",\";\n    data+= \"\\\"ts\\\":\"+Date.now()/1000;\n   \ndata+= \"}\";\nmsg.payload = zahl;\n\n  \nreturn msg;","outputs":1,"noerr":0,"x":407,"y":704,"wires":[["517ca64c.6b28c8"]]},{"id":"80b10473.abfd58","type":"inject","z":"c85f59a7.3ec628","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":143.5,"y":701.25,"wires":[["e85ba9a1.cbe4f8"]]},{"id":"becbdd3c.dd018","type":"function","z":"c85f59a7.3ec628","name":"formatoutput2","func":"\nvar today = new Date();\nvar myToday = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 0, 0, 0);\nvar myYesterday = new Date(myToday) - 86400000;\nmyYesterdayDate = new Date(myYesterday);\nvar oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds\nvar firstDate = new Date(2017,02,15,0,0,0); //mucopen\nvar secondDate = new Date(2017,08,16,0,0,0);\n\nvar diffDays = Math.round(Math.abs((today.getTime() - secondDate.getTime())/(oneDay)));\n\nvar zeitdif = secondDate.getTime()- today.getTime();\n\nvar Seconds_from_T1_to_T2 = zeitdif / 1000;\nvar Seconds_Between_Dates = Math.abs(Seconds_from_T1_to_T2);\n\nvar data = \"{\";\n//var zahl = (diffDays - ((diffDays /7)*2)) *420;\n//(238 - (238/7 *2 ) )*420\n\nvar zahl = Math.round((Seconds_from_T1_to_T2 - ((Seconds_from_T1_to_T2 /(7*86400))*(2*86400))) * 130 * (18.6 / 3600) * 0.75);\n\nvar weekNumber =1;\n\nvar today = new Date();\n\n\tdata+= \"\\\"myName\\\":\\\"meetingroomstobook\\\",\";\n\tdata+= \"\\\"startDate\\\":\\\"15-Feb-2016\\\",\"; // 15-Feb\n    data+= \"\\\"endDate\\\":\\\"16-Sep-2016\\\",\"; // 16 Sep\n    data+= \"\\\"question\\\":\\\"Meeting Rooms to book\\\",\"; // 16 Sep\n    data+= \"\\\"today\\\":\"+today+\",\";\n    data+= \"\\\"diffDays\\\":\"+diffDays+\",\";\n    data+= \"\\\"math\\\":\"+Math.abs((firstDate.getTime() - secondDate.getTime()))+\",\"\n    data+= \"\\\"zahl\\\":\"+zahl+\",\";\n    data+= \"\\\"ts\\\":\"+Date.now()/1000;\n   \ndata+= \"}\";\nmsg.payload = zahl;\n\n  \nreturn msg;","outputs":1,"noerr":0,"x":422.5,"y":467.5,"wires":[["a0372f92.1b34f"]]},{"id":"ff79a9c3.0b2ec8","type":"inject","z":"c85f59a7.3ec628","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":159,"y":464.75,"wires":[["becbdd3c.dd018"]]},{"id":"b8ed15f3.0596b8","type":"function","z":"c85f59a7.3ec628","name":"formatoutput4","func":"\nvar today = new Date();\nvar myToday = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 0, 0, 0);\nvar myYesterday = new Date(myToday) - 86400000;\nmyYesterdayDate = new Date(myYesterday);\nvar oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds\nvar firstDate = new Date(2017,02,15,0,0,0); //mucopen\nvar secondDate = new Date(2017,08,16,0,0,0);\n\nvar diffDays = Math.round(Math.abs((today.getTime() - secondDate.getTime())/(oneDay)));\n\nvar zeitdif = secondDate.getTime()- today.getTime();\n\nvar Seconds_from_T1_to_T2 = (zeitdif/1000);\nvar Seconds_Between_Dates = Math.abs(Seconds_from_T1_to_T2);\n\nvar data = \"{\";\n//var zahl = (diffDays - ((diffDays /7)*2)) *420;\n//(238 - (238/7 *2 ) )*420\n\nvar zahl = Math.round((Seconds_from_T1_to_T2 - ((Seconds_from_T1_to_T2 /(7*86400))*(2*86400))) * 226 * (400/86400));\n\nvar weekNumber =1;\n\nvar today = new Date();\n\n\tdata+= \"\\\"myName\\\":\\\"meetingroomstobook\\\",\";\n\tdata+= \"\\\"startDate\\\":\\\"15-Feb-2016\\\",\"; // 15-Feb\n    data+= \"\\\"endDate\\\":\\\"16-Sep-2016\\\",\"; // 16 Sep\n    data+= \"\\\"question\\\":\\\"Meeting Rooms to book\\\",\"; // 16 Sep\n    data+= \"\\\"today\\\":\"+today+\",\";\n    data+= \"\\\"diffDays\\\":\"+diffDays+\",\";\n    data+= \"\\\"math\\\":\"+Math.abs((firstDate.getTime() - secondDate.getTime()))+\",\"\n    data+= \"\\\"zahl\\\":\"+zahl+\",\";\n    data+= \"\\\"max\\\":\"+100000000+\",\";\n    data+= \"\\\"ts\\\":\"+Date.now()/1000;\n   \ndata+= \"}\";\nmsg.payload = data;\n\n  \nreturn msg;","outputs":1,"noerr":0,"x":420,"y":865,"wires":[["a0515dcf.eb32d","dc8c620b.a14ea"]]},{"id":"a0515dcf.eb32d","type":"debug","z":"c85f59a7.3ec628","name":"","active":true,"console":"false","complete":"payload","x":615,"y":805,"wires":[]},{"id":"7963bec4.46915","type":"http in","z":"c85f59a7.3ec628","name":"/coffees","url":"/coffees","method":"get","swaggerDoc":"","x":109,"y":869,"wires":[["b8ed15f3.0596b8"]]},{"id":"dc8c620b.a14ea","type":"http response","z":"c85f59a7.3ec628","name":"","x":655,"y":865,"wires":[]},{"id":"116b9399.2da52c","type":"function","z":"c85f59a7.3ec628","name":"formatoutput4","func":"\nvar today = new Date();\nvar myToday = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 0, 0, 0);\nvar myYesterday = new Date(myToday) - 86400000;\nmyYesterdayDate = new Date(myYesterday);\nvar oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds\nvar firstDate = new Date(2017,02,15,0,0,0); //mucopen\nvar secondDate = new Date(2017,08,16,0,0,0);\n\nvar diffDays = Math.round(Math.abs((today.getTime() - secondDate.getTime())/(oneDay)));\n\nvar zeitdif = secondDate.getTime()- today.getTime();\n\nvar Seconds_from_T1_to_T2 = zeitdif / 1000;\nvar Seconds_Between_Dates = Math.abs(Seconds_from_T1_to_T2);\n\nvar data = \"{\";\n//var zahl = (diffDays - ((diffDays /7)*2)) *420;\n//(238 - (238/7 *2 ) )*420\n\nvar zahl = Math.round((Seconds_from_T1_to_T2 - ((Seconds_from_T1_to_T2 /(7*86400))*(2*86400))) * 226 * (400/86400));\n\nvar weekNumber =1;\n\nvar today = new Date();\n\n\tdata+= \"\\\"myName\\\":\\\"meetingroomstobook\\\",\";\n\tdata+= \"\\\"startDate\\\":\\\"15-Feb-2016\\\",\"; // 15-Feb\n    data+= \"\\\"endDate\\\":\\\"16-Sep-2016\\\",\"; // 16 Sep\n    data+= \"\\\"question\\\":\\\"Meeting Rooms to book\\\",\"; // 16 Sep\n    data+= \"\\\"today\\\":\"+today+\",\";\n    data+= \"\\\"diffDays\\\":\"+diffDays+\",\";\n    data+= \"\\\"math\\\":\"+Math.abs((firstDate.getTime() - secondDate.getTime()))+\",\"\n    data+= \"\\\"zahl\\\":\"+zahl+\",\";\n    data+= \"\\\"ts\\\":\"+Date.now()/1000;\n   \ndata+= \"}\";\nmsg.payload = zahl;\n\n  \nreturn msg;","outputs":1,"noerr":0,"x":415,"y":942,"wires":[["1f81749.2d3a68b"]]},{"id":"46cc88ad.773bd8","type":"inject","z":"c85f59a7.3ec628","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":151.5,"y":939.25,"wires":[["116b9399.2da52c"]]},{"id":"5b67901a.25da4","type":"function","z":"c85f59a7.3ec628","name":"formatoutput5","func":"\nvar today = new Date();\nvar myToday = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 0, 0, 0);\nvar myYesterday = new Date(myToday) - 86400000;\nmyYesterdayDate = new Date(myYesterday);\nvar oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds\nvar firstDate = new Date(2017,02,15,0,0,0); //mucopen\nvar secondDate = new Date(2017,08,16,0,0,0);\n\nvar diffDays = Math.round(Math.abs((today.getTime() - secondDate.getTime())/(oneDay)));\n\nvar zeitdif = secondDate.getTime()- today.getTime();\n\nvar Seconds_from_T1_to_T2 = (zeitdif/1000);\nvar Seconds_Between_Dates = Math.abs(Seconds_from_T1_to_T2);\n\nvar data = \"{\";\n//var zahl = (diffDays - ((diffDays /7)*2)) *420;\n//(238 - (238/7 *2 ) )*420\n\nvar zahl = Math.round((Seconds_from_T1_to_T2 - ((Seconds_from_T1_to_T2 /(7*86400))*(2*86400))) * (3/86400));\n\nvar weekNumber =1;\n\nvar today = new Date();\n\n\tdata+= \"\\\"myName\\\":\\\"meetingroomstobook\\\",\";\n\tdata+= \"\\\"startDate\\\":\\\"15-Feb-2016\\\",\"; // 15-Feb\n    data+= \"\\\"endDate\\\":\\\"16-Sep-2016\\\",\"; // 16 Sep\n    data+= \"\\\"question\\\":\\\"Meeting Rooms to book\\\",\"; // 16 Sep\n    data+= \"\\\"today\\\":\"+today+\",\";\n    data+= \"\\\"diffDays\\\":\"+diffDays+\",\";\n    data+= \"\\\"math\\\":\"+Math.abs((firstDate.getTime() - secondDate.getTime()))+\",\"\n    data+= \"\\\"zahl\\\":\"+zahl+\",\";\n    data+= \"\\\"max\\\":\"+100000000+\",\";\n    data+= \"\\\"ts\\\":\"+Date.now()/1000;\n   \ndata+= \"}\";\nmsg.payload = data;\n\n  \nreturn msg;","outputs":1,"noerr":0,"x":422,"y":1069,"wires":[["85bbdd30.9bdaa","ebcd10bf.422bd"]]},{"id":"85bbdd30.9bdaa","type":"debug","z":"c85f59a7.3ec628","name":"","active":true,"console":"false","complete":"payload","x":617,"y":1009,"wires":[]},{"id":"31e06bdf.46b304","type":"http in","z":"c85f59a7.3ec628","name":"/clientteams","url":"/clientteams","method":"get","swaggerDoc":"","x":131,"y":1073,"wires":[["5b67901a.25da4"]]},{"id":"ebcd10bf.422bd","type":"http response","z":"c85f59a7.3ec628","name":"","x":657,"y":1069,"wires":[]},{"id":"b27c3ddf.3d25e","type":"function","z":"c85f59a7.3ec628","name":"formatoutput5","func":"\nvar today = new Date();\nvar myToday = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 0, 0, 0);\nvar myYesterday = new Date(myToday) - 86400000;\nmyYesterdayDate = new Date(myYesterday);\nvar oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds\nvar firstDate = new Date(2017,02,15,0,0,0); //mucopen\nvar secondDate = new Date(2017,08,16,0,0,0);\n\nvar diffDays = Math.round(Math.abs((today.getTime() - secondDate.getTime())/(oneDay)));\n\nvar zeitdif = secondDate.getTime()- today.getTime();\n\nvar Seconds_from_T1_to_T2 = zeitdif / 1000;\nvar Seconds_Between_Dates = Math.abs(Seconds_from_T1_to_T2);\n\nvar data = \"{\";\n//var zahl = (diffDays - ((diffDays /7)*2)) *420;\n//(238 - (238/7 *2 ) )*420\n\nvar zahl = Math.round((Seconds_from_T1_to_T2 - ((Seconds_from_T1_to_T2 /(7*86400))*(2*86400))) * (3/86400));\n\nvar weekNumber =1;\n\nvar today = new Date();\n\n\tdata+= \"\\\"myName\\\":\\\"meetingroomstobook\\\",\";\n\tdata+= \"\\\"startDate\\\":\\\"15-Feb-2016\\\",\"; // 15-Feb\n    data+= \"\\\"endDate\\\":\\\"16-Sep-2016\\\",\"; // 16 Sep\n    data+= \"\\\"question\\\":\\\"Meeting Rooms to book\\\",\"; // 16 Sep\n    data+= \"\\\"today\\\":\"+today+\",\";\n    data+= \"\\\"diffDays\\\":\"+diffDays+\",\";\n    data+= \"\\\"math\\\":\"+Math.abs((firstDate.getTime() - secondDate.getTime()))+\",\"\n    data+= \"\\\"zahl\\\":\"+zahl+\",\";\n    data+= \"\\\"ts\\\":\"+Date.now()/1000;\n   \ndata+= \"}\";\nmsg.payload = zahl;\n\n  \nreturn msg;","outputs":1,"noerr":0,"x":417,"y":1146,"wires":[["b6c6d2da.20c25"]]},{"id":"7a5b62fe.48c3ac","type":"inject","z":"c85f59a7.3ec628","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":153.5,"y":1143.25,"wires":[["b27c3ddf.3d25e"]]},{"id":"f9b6c263.2a3bd","type":"function","z":"c85f59a7.3ec628","name":"formatoutput6","func":"\nvar today = new Date();\nvar myToday = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 0, 0, 0);\nvar myYesterday = new Date(myToday) - 86400000;\nmyYesterdayDate = new Date(myYesterday);\nvar oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds\nvar firstDate = new Date(2017,02,15,0,0,0); //mucopen\nvar secondDate = new Date(2017,08,16,0,0,0);\n\nvar diffDays = Math.round(Math.abs((today.getTime() - secondDate.getTime())/(oneDay)));\n\nvar zeitdif = secondDate.getTime()- today.getTime();\n\nvar Seconds_from_T1_to_T2 = (zeitdif/1000);\nvar Seconds_Between_Dates = Math.abs(Seconds_from_T1_to_T2);\n\nvar data = \"{\";\n//var zahl = (diffDays - ((diffDays /7)*2)) *420;\n//(238 - (238/7 *2 ) )*420\n\nvar zahl = Math.round((Seconds_from_T1_to_T2 - ((Seconds_from_T1_to_T2 /(7*86400))*(2*86400))) * ((235/365)/86400));\n\nvar weekNumber =1;\n\nvar today = new Date();\n\n\tdata+= \"\\\"myName\\\":\\\"meetingroomstobook\\\",\";\n\tdata+= \"\\\"startDate\\\":\\\"15-Feb-2016\\\",\"; // 15-Feb\n    data+= \"\\\"endDate\\\":\\\"16-Sep-2016\\\",\"; // 16 Sep\n    data+= \"\\\"question\\\":\\\"Meeting Rooms to book\\\",\"; // 16 Sep\n    data+= \"\\\"today\\\":\"+today+\",\";\n    data+= \"\\\"diffDays\\\":\"+diffDays+\",\";\n    data+= \"\\\"math\\\":\"+Math.abs((firstDate.getTime() - secondDate.getTime()))+\",\"\n    data+= \"\\\"zahl\\\":\"+zahl+\",\";\n    data+= \"\\\"max\\\":\"+100000000+\",\";\n    data+= \"\\\"ts\\\":\"+Date.now()/1000;\n   \ndata+= \"}\";\nmsg.payload = data;\n\n  \nreturn msg;","outputs":1,"noerr":0,"x":415,"y":1306,"wires":[["a2549a43.d0a188","c3d4e6e3.2529d8"]]},{"id":"a2549a43.d0a188","type":"debug","z":"c85f59a7.3ec628","name":"","active":true,"console":"false","complete":"payload","x":610,"y":1246,"wires":[]},{"id":"10f45a97.1b6a75","type":"http in","z":"c85f59a7.3ec628","name":"/patents","url":"/patents","method":"get","swaggerDoc":"","x":114,"y":1310,"wires":[["f9b6c263.2a3bd"]]},{"id":"c3d4e6e3.2529d8","type":"http response","z":"c85f59a7.3ec628","name":"","x":650,"y":1306,"wires":[]},{"id":"670466fd.c83d78","type":"function","z":"c85f59a7.3ec628","name":"formatoutput6","func":"\nvar today = new Date();\nvar myToday = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 0, 0, 0);\nvar myYesterday = new Date(myToday) - 86400000;\nmyYesterdayDate = new Date(myYesterday);\nvar oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds\nvar firstDate = new Date(2017,02,15,0,0,0); //mucopen\nvar secondDate = new Date(2017,08,16,0,0,0);\n\nvar diffDays = Math.round(Math.abs((today.getTime() - secondDate.getTime())/(oneDay)));\n\nvar zeitdif = secondDate.getTime()- today.getTime();\n\nvar Seconds_from_T1_to_T2 = zeitdif / 1000;\nvar Seconds_Between_Dates = Math.abs(Seconds_from_T1_to_T2);\n\nvar data = \"{\";\n//var zahl = (diffDays - ((diffDays /7)*2)) *420;\n//(238 - (238/7 *2 ) )*420\n\nvar zahl = Math.round((Seconds_from_T1_to_T2 - ((Seconds_from_T1_to_T2 /(7*86400))*(2*86400))) * ((235/365)/86400));\n\nvar weekNumber =1;\n\nvar today = new Date();\n\n\tdata+= \"\\\"myName\\\":\\\"meetingroomstobook\\\",\";\n\tdata+= \"\\\"startDate\\\":\\\"15-Feb-2016\\\",\"; // 15-Feb\n    data+= \"\\\"endDate\\\":\\\"16-Sep-2016\\\",\"; // 16 Sep\n    data+= \"\\\"question\\\":\\\"Meeting Rooms to book\\\",\"; // 16 Sep\n    data+= \"\\\"today\\\":\"+today+\",\";\n    data+= \"\\\"diffDays\\\":\"+diffDays+\",\";\n    data+= \"\\\"math\\\":\"+Math.abs((firstDate.getTime() - secondDate.getTime()))+\",\"\n    data+= \"\\\"zahl\\\":\"+zahl+\",\";\n    data+= \"\\\"ts\\\":\"+Date.now()/1000;\n   \ndata+= \"}\";\nmsg.payload = zahl;\n\n  \nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1383,"wires":[["da472c12.f5ac5"]]},{"id":"96431456.69bce8","type":"inject","z":"c85f59a7.3ec628","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":146.5,"y":1380.25,"wires":[["670466fd.c83d78"]]},{"id":"7c00831b.1311dc","type":"function","z":"c85f59a7.3ec628","name":"formatoutput7","func":"\nvar today = new Date();\nvar myToday = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 0, 0, 0);\nvar myYesterday = new Date(myToday) - 86400000;\nmyYesterdayDate = new Date(myYesterday);\nvar oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds\nvar firstDate = new Date(2017,02,15,0,0,0); //mucopen\nvar secondDate = new Date(2017,08,16,0,0,0);\n\nvar diffDays = Math.round(Math.abs((today.getTime() - secondDate.getTime())/(oneDay)));\n\nvar zeitdif = secondDate.getTime()- today.getTime();\n\nvar Seconds_from_T1_to_T2 = (zeitdif/1000);\nvar Seconds_Between_Dates = Math.abs(Seconds_from_T1_to_T2);\n\nvar data = \"{\";\n//var zahl = (diffDays - ((diffDays /7)*2)) *420;\n//(238 - (238/7 *2 ) )*420\n//Avg. adult: 0.225 breaths p. sec. \n\n\nvar zahl = Math.round((Seconds_from_T1_to_T2 - ((Seconds_from_T1_to_T2 /(7*86400))*(2*86400))) * 0.225 * 226);\n\nvar weekNumber =1;\n\nvar today = new Date();\n\n\tdata+= \"\\\"myName\\\":\\\"meetingroomstobook\\\",\";\n\tdata+= \"\\\"startDate\\\":\\\"15-Feb-2016\\\",\"; // 15-Feb\n    data+= \"\\\"endDate\\\":\\\"16-Sep-2016\\\",\"; // 16 Sep\n    data+= \"\\\"question\\\":\\\"Meeting Rooms to book\\\",\"; // 16 Sep\n    data+= \"\\\"today\\\":\"+today+\",\";\n    data+= \"\\\"diffDays\\\":\"+diffDays+\",\";\n    data+= \"\\\"math\\\":\"+Math.abs((firstDate.getTime() - secondDate.getTime()))+\",\"\n    data+= \"\\\"zahl\\\":\"+zahl+\",\";\n    data+= \"\\\"max\\\":\"+100000000+\",\";\n    data+= \"\\\"ts\\\":\"+Date.now()/1000;\n   \ndata+= \"}\";\nmsg.payload = data;\n\n  \nreturn msg;","outputs":1,"noerr":0,"x":421,"y":1562,"wires":[["361a67b9.7cf128","a773c8a9.1f8b98"]]},{"id":"361a67b9.7cf128","type":"debug","z":"c85f59a7.3ec628","name":"","active":true,"console":"false","complete":"payload","x":636,"y":1513,"wires":[]},{"id":"c50aa91e.5bc6c8","type":"http in","z":"c85f59a7.3ec628","name":"/breaths","url":"/breaths","method":"get","swaggerDoc":"","x":140,"y":1577,"wires":[["7c00831b.1311dc"]]},{"id":"a773c8a9.1f8b98","type":"http response","z":"c85f59a7.3ec628","name":"","x":676,"y":1573,"wires":[]},{"id":"26f6419f.3fe0ee","type":"function","z":"c85f59a7.3ec628","name":"formatoutput7","func":"\nvar today = new Date();\nvar myToday = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 0, 0, 0);\nvar myYesterday = new Date(myToday) - 86400000;\nmyYesterdayDate = new Date(myYesterday);\nvar oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds\nvar firstDate = new Date(2017,02,15,0,0,0); //mucopen\nvar secondDate = new Date(2017,08,16,0,0,0);\n\nvar diffDays = Math.round(Math.abs((today.getTime() - secondDate.getTime())/(oneDay)));\n\nvar zeitdif = secondDate.getTime()- today.getTime();\n\nvar Seconds_from_T1_to_T2 = zeitdif / 1000;\nvar Seconds_Between_Dates = Math.abs(Seconds_from_T1_to_T2);\n\nvar data = \"{\";\n//var zahl = (diffDays - ((diffDays /7)*2)) *420;\n//(238 - (238/7 *2 ) )*420\n\nvar zahl = Math.round((Seconds_from_T1_to_T2 - ((Seconds_from_T1_to_T2 /(7*86400))*(2*86400))) * 0.225 * 226);\n\nvar weekNumber =1;\n\nvar today = new Date();\n\n\tdata+= \"\\\"myName\\\":\\\"meetingroomstobook\\\",\";\n\tdata+= \"\\\"startDate\\\":\\\"15-Feb-2016\\\",\"; // 15-Feb\n    data+= \"\\\"endDate\\\":\\\"16-Sep-2016\\\",\"; // 16 Sep\n    data+= \"\\\"question\\\":\\\"Meeting Rooms to book\\\",\"; // 16 Sep\n    data+= \"\\\"today\\\":\"+today+\",\";\n    data+= \"\\\"diffDays\\\":\"+diffDays+\",\";\n    data+= \"\\\"math\\\":\"+Math.abs((firstDate.getTime() - secondDate.getTime()))+\",\"\n    data+= \"\\\"zahl\\\":\"+zahl+\",\";\n    data+= \"\\\"ts\\\":\"+Date.now()/1000;\n   \ndata+= \"}\";\nmsg.payload = zahl;\n\n  \nreturn msg;","outputs":1,"noerr":0,"x":398,"y":1672,"wires":[["4eb6965a.50d758"]]},{"id":"f21ebd34.ca9ef","type":"inject","z":"c85f59a7.3ec628","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":134.5,"y":1669.25,"wires":[["26f6419f.3fe0ee"]]},{"id":"9639cc86.0c7af","type":"function","z":"c85f59a7.3ec628","name":"formatoutput8","func":"\nvar today = new Date();\nvar myToday = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 0, 0, 0);\nvar myYesterday = new Date(myToday) - 86400000;\nmyYesterdayDate = new Date(myYesterday);\nvar oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds\nvar firstDate = new Date(2017,02,15,0,0,0); //mucopen\nvar secondDate = new Date(2017,08,16,0,0,0);\n\nvar diffDays = Math.round(Math.abs((today.getTime() - secondDate.getTime())/(oneDay)));\n\nvar zeitdif = secondDate.getTime()- today.getTime();\n\nvar Seconds_from_T1_to_T2 = (zeitdif/1000);\nvar Seconds_Between_Dates = Math.abs(Seconds_from_T1_to_T2);\n\nvar data = \"{\";\n//var zahl = (diffDays - ((diffDays /7)*2)) *420;\n//(238 - (238/7 *2 ) )*420\n//Avg. adult: 0.225 breaths p. sec. \n\n\nvar zahl = Math.round(Seconds_from_T1_to_T2 * xx);\n\nvar weekNumber =1;\n\nvar today = new Date();\n\n\tdata+= \"\\\"myName\\\":\\\"meetingroomstobook\\\",\";\n\tdata+= \"\\\"startDate\\\":\\\"15-Feb-2016\\\",\"; // 15-Feb\n    data+= \"\\\"endDate\\\":\\\"16-Sep-2016\\\",\"; // 16 Sep\n    data+= \"\\\"question\\\":\\\"Meeting Rooms to book\\\",\"; // 16 Sep\n    data+= \"\\\"today\\\":\"+today+\",\";\n    data+= \"\\\"diffDays\\\":\"+diffDays+\",\";\n    data+= \"\\\"math\\\":\"+Math.abs((firstDate.getTime() - secondDate.getTime()))+\",\"\n    data+= \"\\\"zahl\\\":\"+zahl+\",\";\n    data+= \"\\\"max\\\":\"+100000000+\",\";\n    data+= \"\\\"ts\\\":\"+Date.now()/1000;\n   \ndata+= \"}\";\nmsg.payload = data;\n\n  \nreturn msg;","outputs":1,"noerr":0,"x":405,"y":1815.5,"wires":[["d74c5f66.feed6","629c0af0.d55fe4"]]},{"id":"d74c5f66.feed6","type":"debug","z":"c85f59a7.3ec628","name":"","active":true,"console":"false","complete":"payload","x":620,"y":1766.5,"wires":[]},{"id":"cdcba519.ae6138","type":"http in","z":"c85f59a7.3ec628","name":"/deviceconnection","url":"/deviceconnection","method":"get","swaggerDoc":"","x":154,"y":1830.5,"wires":[["9639cc86.0c7af"]]},{"id":"629c0af0.d55fe4","type":"http response","z":"c85f59a7.3ec628","name":"","x":660,"y":1826.5,"wires":[]},{"id":"aa48840a.94b018","type":"function","z":"c85f59a7.3ec628","name":"formatoutput10","func":"\nvar today = new Date();\nvar myToday = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 0, 0, 0);\nvar myYesterday = new Date(myToday) - 86400000;\nmyYesterdayDate = new Date(myYesterday);\nvar oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds\nvar firstDate = new Date(2017,02,15,0,0,0); //mucopen\nvar secondDate = new Date(2017,08,16,0,0,0);\n\nvar diffDays = Math.round(Math.abs((today.getTime() - secondDate.getTime())/(oneDay)));\n\nvar zeitdif = secondDate.getTime()- today.getTime();\n\nvar Seconds_from_T1_to_T2 = (zeitdif/1000);\nvar Seconds_Between_Dates = Math.abs(Seconds_from_T1_to_T2);\n\nvar data = \"{\";\n//var zahl = (diffDays - ((diffDays /7)*2)) *420;\n//(238 - (238/7 *2 ) )*420\n\n\nvar zahl = Math.round(diffDays * (126 / 365) * (226 * 0.63));\n\nvar weekNumber =1;\n\nvar today = new Date();\n\n\tdata+= \"\\\"myName\\\":\\\"meetingroomstobook\\\",\";\n\tdata+= \"\\\"startDate\\\":\\\"15-Feb-2016\\\",\"; // 15-Feb\n    data+= \"\\\"endDate\\\":\\\"16-Sep-2016\\\",\"; // 16 Sep\n    data+= \"\\\"question\\\":\\\"Meeting Rooms to book\\\",\"; // 16 Sep\n    data+= \"\\\"today\\\":\"+today+\",\";\n    data+= \"\\\"diffDays\\\":\"+diffDays+\",\";\n    data+= \"\\\"math\\\":\"+Math.abs((firstDate.getTime() - secondDate.getTime()))+\",\"\n    data+= \"\\\"zahl\\\":\"+zahl+\",\";\n    data+= \"\\\"max\\\":\"+100000000+\",\";\n    data+= \"\\\"ts\\\":\"+Date.now()/1000;\n   \ndata+= \"}\";\nmsg.payload = data;\n\n  \nreturn msg;","outputs":1,"noerr":0,"x":395,"y":2322,"wires":[["5f52952f.adac8c","11ebb85d.55e398"]]},{"id":"5f52952f.adac8c","type":"debug","z":"c85f59a7.3ec628","name":"","active":true,"console":"false","complete":"payload","x":610,"y":2273,"wires":[]},{"id":"608ad52b.c0f24c","type":"http in","z":"c85f59a7.3ec628","name":"/umbrellas","url":"/umbrellas","method":"get","swaggerDoc":"","x":114,"y":2337,"wires":[["aa48840a.94b018"]]},{"id":"11ebb85d.55e398","type":"http response","z":"c85f59a7.3ec628","name":"","x":650,"y":2333,"wires":[]},{"id":"81a889ed.dff658","type":"function","z":"c85f59a7.3ec628","name":"formatoutput10","func":"\nvar today = new Date();\nvar myToday = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 0, 0, 0);\nvar myYesterday = new Date(myToday) - 86400000;\nmyYesterdayDate = new Date(myYesterday);\nvar oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds\nvar firstDate = new Date(2017,02,15,0,0,0); //mucopen\nvar secondDate = new Date(2017,08,16,0,0,0);\n\nvar diffDays = Math.round(Math.abs((today.getTime() - secondDate.getTime())/(oneDay)));\n\nvar zeitdif = secondDate.getTime()- today.getTime();\n\nvar Seconds_from_T1_to_T2 = zeitdif / 1000;\nvar Seconds_Between_Dates = Math.abs(Seconds_from_T1_to_T2);\n\nvar data = \"{\";\n//var zahl = (diffDays - ((diffDays /7)*2)) *420;\n//(238 - (238/7 *2 ) )*420\n\nvar zahl = Math.round(diffDays * (126 / 365) * (226 * 0.63));\n\n\nvar weekNumber =1;\n\nvar today = new Date();\n\n\tdata+= \"\\\"myName\\\":\\\"meetingroomstobook\\\",\";\n\tdata+= \"\\\"startDate\\\":\\\"15-Feb-2016\\\",\"; // 15-Feb\n    data+= \"\\\"endDate\\\":\\\"16-Sep-2016\\\",\"; // 16 Sep\n    data+= \"\\\"question\\\":\\\"Meeting Rooms to book\\\",\"; // 16 Sep\n    data+= \"\\\"today\\\":\"+today+\",\";\n    data+= \"\\\"diffDays\\\":\"+diffDays+\",\";\n    data+= \"\\\"math\\\":\"+Math.abs((firstDate.getTime() - secondDate.getTime()))+\",\"\n    data+= \"\\\"zahl\\\":\"+zahl+\",\";\n    data+= \"\\\"ts\\\":\"+Date.now()/1000;\n   \ndata+= \"}\";\nmsg.payload = zahl;\n\n  \nreturn msg;","outputs":1,"noerr":0,"x":372,"y":2432,"wires":[["fbe14b15.045c58","2395f625.fa028a"]]},{"id":"7b7ed5ec.4cbddc","type":"inject","z":"c85f59a7.3ec628","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":108.5,"y":2429.25,"wires":[["81a889ed.dff658"]]},{"id":"e798763a.b51618","type":"function","z":"c85f59a7.3ec628","name":"formatoutput9","func":"\nvar today = new Date();\nvar myToday = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 0, 0, 0);\nvar myYesterday = new Date(myToday) - 86400000;\nmyYesterdayDate = new Date(myYesterday);\nvar oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds\nvar firstDate = new Date(2017,02,15,0,0,0); //mucopen\nvar secondDate = new Date(2017,08,16,0,0,0);\n\nvar diffDays = Math.round(Math.abs((today.getTime() - secondDate.getTime())/(oneDay)));\n\nvar zeitdif = secondDate.getTime()- today.getTime();\n\nvar Seconds_from_T1_to_T2 = (zeitdif/1000);\nvar Seconds_Between_Dates = Math.abs(Seconds_from_T1_to_T2);\n\nvar data = \"{\";\n//var zahl = (diffDays - ((diffDays /7)*2)) *420;\n//(238 - (238/7 *2 ) )*420\n//Avg. adult: 0.225 breaths p. sec. \n\n\nvar zahl = Math.round(Seconds_from_T1_to_T2 * xx);\n\nvar weekNumber =1;\n\nvar today = new Date();\n\n\tdata+= \"\\\"myName\\\":\\\"meetingroomstobook\\\",\";\n\tdata+= \"\\\"startDate\\\":\\\"15-Feb-2016\\\",\"; // 15-Feb\n    data+= \"\\\"endDate\\\":\\\"16-Sep-2016\\\",\"; // 16 Sep\n    data+= \"\\\"question\\\":\\\"Meeting Rooms to book\\\",\"; // 16 Sep\n    data+= \"\\\"today\\\":\"+today+\",\";\n    data+= \"\\\"diffDays\\\":\"+diffDays+\",\";\n    data+= \"\\\"math\\\":\"+Math.abs((firstDate.getTime() - secondDate.getTime()))+\",\"\n    data+= \"\\\"zahl\\\":\"+zahl+\",\";\n    data+= \"\\\"max\\\":\"+100000000+\",\";\n    data+= \"\\\"ts\\\":\"+Date.now()/1000;\n   \ndata+= \"}\";\nmsg.payload = data;\n\n  \nreturn msg;","outputs":1,"noerr":0,"x":394,"y":2083,"wires":[["c2fa0cbc.76c83","6a56772f.5e5fe8"]]},{"id":"c2fa0cbc.76c83","type":"debug","z":"c85f59a7.3ec628","name":"","active":true,"console":"false","complete":"payload","x":609,"y":2034,"wires":[]},{"id":"3fc85e36.14a402","type":"http in","z":"c85f59a7.3ec628","name":"/datavolume","url":"/datavolume","method":"get","swaggerDoc":"","x":123,"y":2098,"wires":[["e798763a.b51618"]]},{"id":"6a56772f.5e5fe8","type":"http response","z":"c85f59a7.3ec628","name":"","x":649,"y":2094,"wires":[]},{"id":"9d2fd4ef.6f5a58","type":"function","z":"c85f59a7.3ec628","name":"formatoutput9","func":"\nvar today = new Date();\nvar myToday = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 0, 0, 0);\nvar myYesterday = new Date(myToday) - 86400000;\nmyYesterdayDate = new Date(myYesterday);\nvar oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds\nvar firstDate = new Date(2017,02,15,0,0,0); //mucopen\nvar secondDate = new Date(2017,08,16,0,0,0);\n\nvar diffDays = Math.round(Math.abs((today.getTime() - secondDate.getTime())/(oneDay)));\n\nvar zeitdif = secondDate.getTime()- today.getTime();\n\nvar Seconds_from_T1_to_T2 = zeitdif / 1000;\nvar Seconds_Between_Dates = Math.abs(Seconds_from_T1_to_T2);\n\nvar data = \"{\";\n//var zahl = (diffDays - ((diffDays /7)*2)) *420;\n//(238 - (238/7 *2 ) )*420\n\nvar zahl = Math.round(Seconds_from_T1_to_T2 * xx);\n\nvar weekNumber =1;\n\nvar today = new Date();\n\n\tdata+= \"\\\"myName\\\":\\\"meetingroomstobook\\\",\";\n\tdata+= \"\\\"startDate\\\":\\\"15-Feb-2016\\\",\"; // 15-Feb\n    data+= \"\\\"endDate\\\":\\\"16-Sep-2016\\\",\"; // 16 Sep\n    data+= \"\\\"question\\\":\\\"Meeting Rooms to book\\\",\"; // 16 Sep\n    data+= \"\\\"today\\\":\"+today+\",\";\n    data+= \"\\\"diffDays\\\":\"+diffDays+\",\";\n    data+= \"\\\"math\\\":\"+Math.abs((firstDate.getTime() - secondDate.getTime()))+\",\"\n    data+= \"\\\"zahl\\\":\"+zahl+\",\";\n    data+= \"\\\"ts\\\":\"+Date.now()/1000;\n   \ndata+= \"}\";\nmsg.payload = zahl;\n\n  \nreturn msg;","outputs":1,"noerr":0,"x":371,"y":2193,"wires":[["80ff93ab.42213"]]},{"id":"7ffe44c4.dc1c4c","type":"inject","z":"c85f59a7.3ec628","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":107.5,"y":2190.25,"wires":[["9d2fd4ef.6f5a58"]]},{"id":"a3c87682.8f6738","type":"function","z":"c85f59a7.3ec628","name":"formatoutput12","func":"\nvar today = new Date();\nvar myToday = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 0, 0, 0);\nvar myYesterday = new Date(myToday) - 86400000;\nmyYesterdayDate = new Date(myYesterday);\nvar oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds\nvar firstDate = new Date(2017,02,15,0,0,0); //mucopen\nvar secondDate = new Date(2017,08,16,0,0,0);\n\nvar diffDays = Math.round(Math.abs((today.getTime() - secondDate.getTime())/(oneDay)));\n\nvar zeitdif = secondDate.getTime()- today.getTime();\n\nvar Seconds_from_T1_to_T2 = (zeitdif/1000);\nvar Seconds_Between_Dates = Math.abs(Seconds_from_T1_to_T2);\n\nvar data = \"{\";\n//var zahl = (diffDays - ((diffDays /7)*2)) *420;\n//(238 - (238/7 *2 ) )*420\n\n\n\nvar zahl = Math.round((Seconds_from_T1_to_T2 - ((Seconds_from_T1_to_T2 /(7*86400))*(2*86400))) * (questionpday / 86400) * 226);\n\nvar weekNumber =1;\n\nvar today = new Date();\n\n\tdata+= \"\\\"myName\\\":\\\"meetingroomstobook\\\",\";\n\tdata+= \"\\\"startDate\\\":\\\"15-Feb-2016\\\",\"; // 15-Feb\n    data+= \"\\\"endDate\\\":\\\"16-Sep-2016\\\",\"; // 16 Sep\n    data+= \"\\\"question\\\":\\\"Meeting Rooms to book\\\",\"; // 16 Sep\n    data+= \"\\\"today\\\":\"+today+\",\";\n    data+= \"\\\"diffDays\\\":\"+diffDays+\",\";\n    data+= \"\\\"math\\\":\"+Math.abs((firstDate.getTime() - secondDate.getTime()))+\",\"\n    data+= \"\\\"zahl\\\":\"+zahl+\",\";\n    data+= \"\\\"max\\\":\"+100000000+\",\";\n    data+= \"\\\"ts\\\":\"+Date.now()/1000;\n   \ndata+= \"}\";\nmsg.payload = data;\n\n  \nreturn msg;","outputs":1,"noerr":0,"x":361.5,"y":2590.5,"wires":[["70e6955a.30abbc","c04214f5.7c5b68"]]},{"id":"70e6955a.30abbc","type":"debug","z":"c85f59a7.3ec628","name":"","active":true,"console":"false","complete":"payload","x":576.5,"y":2541.5,"wires":[]},{"id":"ca3a9232.5df63","type":"http in","z":"c85f59a7.3ec628","name":"/askwatson","url":"/askwatson","method":"get","swaggerDoc":"","x":90.5,"y":2605.5,"wires":[["a3c87682.8f6738"]]},{"id":"c04214f5.7c5b68","type":"http response","z":"c85f59a7.3ec628","name":"","x":616.5,"y":2601.5,"wires":[]},{"id":"98586524.a97568","type":"function","z":"c85f59a7.3ec628","name":"formatoutput12","func":"\nvar today = new Date();\nvar myToday = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 0, 0, 0);\nvar myYesterday = new Date(myToday) - 86400000;\nmyYesterdayDate = new Date(myYesterday);\nvar oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds\nvar firstDate = new Date(2017,02,15,0,0,0); //mucopen\nvar secondDate = new Date(2017,08,16,0,0,0);\n\nvar diffDays = Math.round(Math.abs((today.getTime() - secondDate.getTime())/(oneDay)));\n\nvar zeitdif = secondDate.getTime()- today.getTime();\n\nvar Seconds_from_T1_to_T2 = zeitdif / 1000;\nvar Seconds_Between_Dates = Math.abs(Seconds_from_T1_to_T2);\n\nvar data = \"{\";\n//var zahl = (diffDays - ((diffDays /7)*2)) *420;\n//(238 - (238/7 *2 ) )*420\n\nvar zahl = 0// Math.round((Seconds_from_T1_to_T2 - ((Seconds_from_T1_to_T2 /(7*86400))*(2*86400))) * (questionpday / 86400) * 226);\n\nvar weekNumber =1;\n\nvar today = new Date();\n\n\tdata+= \"\\\"myName\\\":\\\"meetingroomstobook\\\",\";\n\tdata+= \"\\\"startDate\\\":\\\"15-Feb-2016\\\",\"; // 15-Feb\n    data+= \"\\\"endDate\\\":\\\"16-Sep-2016\\\",\"; // 16 Sep\n    data+= \"\\\"question\\\":\\\"Meeting Rooms to book\\\",\"; // 16 Sep\n    data+= \"\\\"today\\\":\"+today+\",\";\n    data+= \"\\\"diffDays\\\":\"+diffDays+\",\";\n    data+= \"\\\"math\\\":\"+Math.abs((firstDate.getTime() - secondDate.getTime()))+\",\"\n    data+= \"\\\"zahl\\\":\"+zahl+\",\";\n    data+= \"\\\"ts\\\":\"+Date.now()/1000;\n   \ndata+= \"}\";\nmsg.payload = zahl;\n\n  \nreturn msg;","outputs":1,"noerr":0,"x":338.5,"y":2700.5,"wires":[[]]},{"id":"a94347e3.08f0e8","type":"inject","z":"c85f59a7.3ec628","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":75,"y":2697.75,"wires":[["98586524.a97568"]]},{"id":"12e53531.549deb","type":"debug","z":"9d84b2c7.33e3f","name":"","active":false,"console":"false","complete":"false","x":385.5,"y":110,"wires":[]},{"id":"6b4bdab5.0ab654","type":"websocket out","z":"fc19238c.0aebc","name":"","server":"1876a307.2e935d","client":"","x":658.0908813476562,"y":107,"wires":[]},{"id":"7a17afd.17b1e5","type":"function","z":"fc19238c.0aebc","name":"","func":"msg.payload = msg.speech;\nmsg.payload.extra = \"Markus\";\nreturn msg;","outputs":1,"noerr":0,"x":458.81817626953125,"y":105.81814575195312,"wires":[["6b4bdab5.0ab654"]]},{"id":"103adefa.9056a1","type":"watson-text-to-speech","z":"fc19238c.0aebc","name":"German","lang":"english","voice":"en-US_MichaelVoice","format":"audio/wav","x":284,"y":107,"wires":[["7a17afd.17b1e5"]]},{"id":"2a8f267a.fe843a","type":"inject","z":"fc19238c.0aebc","name":"Hello Deutsch","topic":"","payload":"Hello Markus","payloadType":"str","repeat":"","crontab":"","once":false,"x":101,"y":103,"wires":[["103adefa.9056a1"]]},{"id":"767df49a.19a49c","type":"function","z":"fc19238c.0aebc","name":"Add more infos","func":"msg.mvk = global.get(\"foo\");  \nmsg.mvk = context.global.wtext;\nreturn msg;","outputs":1,"noerr":0,"x":318,"y":238,"wires":[["bacfa61f.3496f8"]]},{"id":"c3c5bb3e.aac9b8","type":"http in","z":"fc19238c.0aebc","name":"Speaking Output","url":"/audio","method":"get","swaggerDoc":"","x":105.48483276367188,"y":241.80807495117188,"wires":[["cf43436c.c3828","767df49a.19a49c"]]},{"id":"bacfa61f.3496f8","type":"template","z":"fc19238c.0aebc","name":"WebSite","field":"payload","fieldType":"msg","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>IBM Watson - Text To Speech</title>\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\"></script>\n  \n  <script type=\"text/javascript\">\n    var socketaddy = \"ws://\" + window.location.host + \"/ws/audio\";\nvar myevent=\"\";\n\n    $(document).ready(function(){\n        console.log(\"Watson Websocket start : \"+myevent); \n      var output = document.getElementById('output')\n      $('#output').on('playing', function () {\n          $('#text').text('Watson talking events. \\n Event: '+myevent )\n          \n      });\n      $('#output').on('ended', function () {\n          $('#text').text('Watson waiting for audio...')\n          //window.location.reload();\n          \n      });\n      sock = new WebSocket(socketaddy);\n      sock.onopen = function(){\n          $('#text').text('Waiting for audio...');\n          console.log(\"Connected websocket\");\n      };\n      sock.onerror = function(){ \n          console.log(\"Websocket error\"); \n      };\n      sock.onclose = function () {\n          $('#text').text('Not connected. Refresh the page?')\n          window.location.reload();\n          \n      }\n      sock.onmessage = function(evt){\n        console.log(\"Websocket message: \", evt.data.extra); \n         console.log(\"Websocket typeof = \"+typeof evt.data); \n         if (typeof evt.data == \"string\")\n         {myevent = evt.data}else{\n        output.src = window.URL.createObjectURL(evt.data);\n        output.play();}\n      };\n    });\n  </script>\n  \n</head>\n<body style=\"font-size: 56px; font-family: helvetica; text-align: center; margin-top: 100px;\">\n  <div id=\"text\">Connecting... to ws/audio</div>\n  <audio id=\"output\"></audio><br>\n  <img src=\"https://avatars0.githubusercontent.com/u/9221727?v=3&s=200\"></a>\n</body>\n</html>","x":478.4848327636719,"y":239.91918349266052,"wires":[["a1df87a9.04d0c8"]]},{"id":"cf43436c.c3828","type":"debug","z":"fc19238c.0aebc","name":"DEBUG IN","active":false,"console":"false","complete":"true","x":314.66668701171875,"y":286.22222900390625,"wires":[]},{"id":"a1df87a9.04d0c8","type":"http response","z":"fc19238c.0aebc","name":"","x":660.1414184570312,"y":234.8585968017578,"wires":[]},{"id":"e6291111.859c5","type":"ibmiot in","z":"9d84b2c7.33e3f","authentication":"apiKey","apiKey":"3ccb8c42.c05004","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":true,"allCommands":"","allFormats":false,"qos":0,"x":222.5,"y":108,"wires":[["12e53531.549deb","c6c5b302.9f474"]]},{"id":"c6c5b302.9f474","type":"delay","z":"9d84b2c7.33e3f","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"90","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":207.5,"y":184,"wires":[["c31cf5c8.1d7228","9b6f875.3297278"]]},{"id":"c31cf5c8.1d7228","type":"debug","z":"9d84b2c7.33e3f","name":"rein","active":false,"console":"false","complete":"true","x":368,"y":184,"wires":[]},{"id":"9c1f9d33.f192b","type":"switch","z":"9d84b2c7.33e3f","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"motion","vt":"str"},{"t":"cont","v":"temperatur","vt":"str"},{"t":"cont","v":"illum","vt":"str"},{"t":"cont","v":"relativeHumidity","vt":"str"},{"t":"cont","v":"hueLight","vt":"str"},{"t":"cont","v":"carbonDioxide","vt":"str"},{"t":"else"}],"checkall":"true","outputs":7,"x":171.5,"y":336,"wires":[["20c4ff00.6eae52"],["4ef5d86c.0a19d8"],["4e79841a.8d4c1c"],["3520e615.b6d12a"],["a83ac8c2.af6a88"],["27ca94d1.161e1c"],["e7078315.e222b"]]},{"id":"20c4ff00.6eae52","type":"function","z":"9d84b2c7.33e3f","name":"Motion","func":"msg.payload = \"Motion\";\nvar motion =flow.get(\"motion\") + 1;\nvar now = ( new Date() ).getTime();\n\nflow.set(\"motion\",motion);\nflow.set(\"motion-lt\",now);\n\nreturn msg;","outputs":1,"noerr":0,"x":396.5,"y":282,"wires":[["77b4a19d.ab34c"]]},{"id":"f1c4289a.4c6638","type":"websocket out","z":"9d84b2c7.33e3f","name":"","server":"1876a307.2e935d","client":"","x":699.0908813476562,"y":427.0000305175781,"wires":[]},{"id":"48e1a134.795e3","type":"function","z":"9d84b2c7.33e3f","name":"Format","func":"msg.payload = msg.speech;\nmsg.payload.extra = \"Markus\";\nreturn msg;","outputs":1,"noerr":0,"x":691.8181762695312,"y":380.81817626953125,"wires":[["f1c4289a.4c6638"]]},{"id":"77b4a19d.ab34c","type":"watson-text-to-speech","z":"9d84b2c7.33e3f","name":"English Michael","lang":"en-US","langhidden":"en-US","voice":"en-US_MichaelVoice","voicehidden":"","format":"audio/wav","password":"","x":707,"y":336.0000305175781,"wires":[["48e1a134.795e3"]]},{"id":"3520e615.b6d12a","type":"function","z":"9d84b2c7.33e3f","name":"relativeHumidity","func":"msg.payload = \"Relative Humidity is \"+msg.payload.d.value;\nreturn msg;","outputs":1,"noerr":0,"x":412,"y":392,"wires":[["77b4a19d.ab34c"]]},{"id":"4e79841a.8d4c1c","type":"function","z":"9d84b2c7.33e3f","name":"Illuminance","func":"msg.payload = \"Illuminance is \"+msg.payload.d.value;\nreturn msg;","outputs":1,"noerr":0,"x":403,"y":357,"wires":[["77b4a19d.ab34c"]]},{"id":"4ef5d86c.0a19d8","type":"function","z":"9d84b2c7.33e3f","name":"temp","func":"var str = msg.topic;\n //\"iot-2/type/motion/id/809646_EUI64-0080E1030005146B-4/evt/evt/fmt/json\";\nvar res = str.split(\"/\");\nvar newvalue =msg.payload.d.value;\nvar cel = (msg.payload.d.value -  273.15);\nmsg.payload = \"Temparature is \"+cel.toFixed(1) ;\n\nvar room = \"\";\n//'Blue Whale'.indexOf('Blue');\nif( res[4].indexOf('09646_EUI64-0080E10300045154') != -1)\nroom = \"in Conference Room Blaze\";\n\nif( res[4].indexOf('09646_EUI64-0080E1030004553E') != -1)\nroom = \"in Meeting Room North\";\n\nif( res[4].indexOf('809646_EUI64-0080E10300045264') != -1)\nroom = \"in Meeting Room South\";\n\nif( res[4].indexOf('809646_EUI64-0080E10300045452') != -1)\nroom = \"in Phone Room North\";\n\nif( res[4].indexOf('809646_EUI64-0080E10300045266') != -1)\nroom = \"in Phone Room South\";\n\n\nmsg.payload = \"Temparature \"+room+\" is \"+cel.toFixed(1) ;\n\nreturn msg;","outputs":1,"noerr":0,"x":385,"y":318,"wires":[["77b4a19d.ab34c"]]},{"id":"f09c4be0.2f9338","type":"websocket out","z":"9d84b2c7.33e3f","name":"","server":"fd9beaaf.5eeec8","client":"","x":693,"y":653,"wires":[]},{"id":"398d3510.9065da","type":"function","z":"9d84b2c7.33e3f","name":"CreateJson","func":"return msg;\n\nvar now = ( new Date() ).getTime();\nvar str = msg.topic;\n //\"iot-2/type/motion/id/809646_EUI64-0080E1030005146B-4/evt/evt/fmt/json\";\nvar res = str.split(\"/\");\nnode.warn(res)\n\nvar    newvalue =msg.payload.d.value;\nif (res[2] == \"temperature\")\n{\nnewvalue = msg.payload.d.value -273.15\n newvalue = newvalue.toFixed(2);\n}  \nvar extvalue =0;\nvar room = \"\";\n//'Blue Whale'.indexOf('Blue');\nif( res[4].indexOf('09646_EUI64-0080E10300045154') != -1)\nroom = \"Conf Room Blaze\";\n\nif( res[4].indexOf('09646_EUI64-0080E1030004553E') != -1)\nroom = \"Meeting Room North\";\n\nif( res[4].indexOf('809646_EUI64-0080E10300045264') != -1)\nroom = \"Meeting Room South\";\n\nif( res[4].indexOf('809646_EUI64-0080E10300045452') != -1)\nroom = \"Phone Room North\";\n\nif( res[4].indexOf('809646_EUI64-0080E10300045266') != -1)\nroom = \"Phone Room South\";\nvar now = ( new Date() ).getTime();\nvar eventvalue=0;\nvar diffvalue=0;\nvar device = \"Yanzi\";\nif( res[2] == \"motion\")\n{\nextvalue = 100;\neventvalue = flow.get(\"motion\");\ndiffvalue =  now - flow.get(\"motion-lt\");\nflow.set(\"motion-lt\",now);\n}\n\nif( res[2] == \"temperature\")\n{\nextvalue = 200;\ndiffvalue =  now - flow.get(\"temperature-lt\");\nflow.set(\"temperature-lt\",now);\n}\nif( res[2] == \"illuminance\")\n{\nextvalue = 300;\ndiffvalue =  now - flow.get(\"illuminance-lt\");\nflow.set(\"illuminance-lt\",now);\n}\n\nif( res[2] == \"relativeHumidity\")\n{\nextvalue = 400;\ndiffvalue =  now - flow.get(\"relativeHumidity-lt\");\nflow.set(\"relativeHumidity-lt\",now);\n}\nif( res[2] == \"carbonDioxide\")\n{\nextvalue = 500;\ndiffvalue =  now - flow.get(\"carbonDioxide-lt\");\nflow.set(\"carbonDioxide-lt\",now);\n}\nif( res[2] == \"hueLight\")\n{\n    device  = \"HueLight\";\n    newvalue = 0;\nextvalue = 700;\ndiffvalue =  now - flow.get(\"hueLight-lt\");\nflow.set(\"hueLight-lt\",now);\n}\n\nif( res[2] == \"hueLight1\")\n{\n       device  = \"HueLight\";\nnewvalue = 0;\nextvalue = 800;\ndiffvalue =  now - flow.get(\"hueLight-lt\");\nflow.set(\"hueLight-lt\",now);\n}\n//hueLight\n\nif( res[2] == \"unitState\")\n{\n       device  = \"unitState\";\nnewvalue = 0;\nextvalue = 600;\ndiffvalue =  now - flow.get(\"unitState-lt\");\nflow.set(\"unitState-lt\",now);\n}\n\n\nif( res[2] == \"ThermImg\")\n{\ndevice  = \"ThermImg\";\nnewvalue = msg.payload.d.reference;\nextvalue = 700;\ndiffvalue =  now - flow.get(\"ThermImg-lt\");\nflow.set(\"ThermImg-lt\",now);    \n}\n\n\nif( res[2] == \"EgyMet\")\n{\ndevice  = \"EgyMet\";\nnewvalue = msg.payload.d.watts;\nextvalue = 700;\ndiffvalue =  now - flow.get(\"EgyMet-lt\");\nflow.set(\"EgyMet-lt\",now);    \n}\n\nvar random =Math.floor(Math.random() * 127) + 1; \n\nvar newmsg ={\n    event: res[2],\n    value: newvalue,\n    orgvalue: msg.payload.d.value,\n    deviceid: res[4],\n    ts: now,\n    extvalue: extvalue,\n  eventvalue: eventvalue,\n    diffvalue: diffvalue,\n    random: random,\n    room: room,\n    device: device,\n    ts: now\n    \n}\n\nmsg.payload = newmsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":199,"y":579,"wires":[["f09c4be0.2f9338","a8d3c449.8491f8","adf26eda.d0407","c2c11092.309e4","b8dd4eff.675f8","c6e7fd93.8c2d6"]]},{"id":"a83ac8c2.af6a88","type":"function","z":"9d84b2c7.33e3f","name":"hueLight","func":"var onoff =\"off\";\nif (msg.payload.d.on)\nonoff =\"on\";\n\nmsg.payload = \"HueLight is \"+onoff;\nreturn msg;","outputs":1,"noerr":0,"x":397,"y":461,"wires":[["77b4a19d.ab34c"]]},{"id":"99684812.269208","type":"function","z":"9d84b2c7.33e3f","name":"","func":"flow.set(\"motion\",1);\nflow.set(\"temperature\",1);\nflow.set(\"illuminance\",1);\nflow.set(\"relativeHumidity\",1);\nflow.set(\"huelight\",1);\nflow.set(\"carbonDioxide\",1);\nflow.set(\"unitState\",1);\nflow.set(\"ThermImg\",1);//EgyMet\nflow.set(\"EgyMet\",1);\nvar now = ( new Date() ).getTime();\n\nflow.set(\"motion-lt\",now);\nflow.set(\"temperature-lt\",now);\nflow.set(\"illuminance-lt\",now);\nflow.set(\"relativeHumidity-lt\",now);\nflow.set(\"huelight-lt\",now);\nflow.set(\"carbonDioxide-lt\",now);\nflow.set(\"hello-lt\",now);\nflow.set(\"unitState-lt\",now);\nflow.set(\"ThermImg-lt\",now);\nflow.set(\"EgyMet-lt\",now);\nvar rooms = [ { \"layout\": \"Conference\",\n       \"image\": \"//Company-1/file1479291911777.JPG\",\n       \"_id\": 14028418,\n       \"floor\": \"27th Floor\",\n       \"building\": \"Munich Watson IoT Center\",\n       \"room\": \"Blaze\",\n        \"yanzi_motion_id\": \"809646_EUI64-0080E10300045154-4\",\n        \"yanzi_temp_id\": \"809646_EUI64-0080E10300045154-3\",\n        \"hue_light_id\": \"hueLight1\" },\n     { \"layout\": \"Quiet Room\",\n       \"image\": \"//Company-1/file1483353263721.jpeg\",\n       \"_id\": 14028403,\n       \"floor\": \"27th Floor\",\n       \"building\": \"Munich Watson IoT Center\",\n       \"room\": \"Meeting Room North\",\n        \"yanzi_motion_id\": \"809646_EUI64-0080E1030004553E-4\",\n        \"yanzi_temp_id\": \"809646_EUI64-0080E1030004553E-3\",\n        \"hue_light_id\": \"hueLight1\" },\n     { \"layout\": \"Quiet Room\",\n       \"image\": \"//Company-1/file1483353163349.jpeg\",\n       \"_id\": 14028412,\n       \"floor\": \"27th Floor\",\n       \"building\": \"Munich Watson IoT Center\",\n       \"room\": \"Meeting Room South\",\n        \"yanzi_motion_id\": \"809646_EUI64-0080E10300045264-4\",\n        \"yanzi_temp_id\": \"809646_EUI64-0080E10300045264-3\",\n        \"hue_light_id\": \"hueLight1\"},\n     { \"layout\": \"Quiet Room\",\n       \"image\": \"//Company-1/file1483353219814.jpeg\",\n       \"_id\": 14028401,\n       \"floor\": \"27th Floor\",\n       \"building\": \"Munich Watson IoT Center\",\n       \"room\": \"Phone Room North\" ,\n        \"yanzi_motion_id\": \"809646_EUI64-0080E10300045452-4\",\n        \"yanzi_temp_id\": \"809646_EUI64-0080E10300045452-3\",\n        \"hue_light_id\": \"hueLight1\"},\n     { \"layout\": \"Quiet Room\",\n       \"image\": \"//Company-1/file1483352907260.jpeg\",\n       \"_id\": 14028410,\n       \"floor\": \"27th Floor\",\n       \"building\": \"Munich Watson IoT Center\",\n       \"room\": \"Phone Room South\",\n        \"yanzi_motion_id\": \"809646_EUI64-0080E10300045266-4\",\n        \"yanzi_temp_id\": \"809646_EUI64-0080E10300045266-3\",\n        \"hue_light_id\": \"hueLight1\" } ]\n        \nflow.set(\"rooms\",rooms);        \n","outputs":1,"noerr":0,"x":382.5,"y":66,"wires":[[]]},{"id":"c2a8e9e8.323a88","type":"inject","z":"9d84b2c7.33e3f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":179.5,"y":65,"wires":[["99684812.269208"]]},{"id":"4975d426.213a2c","type":"function","z":"9d84b2c7.33e3f","name":"Hello Message","func":"var now = ( new Date() ).getTime();\n\nvar extvalue = 400;\n\nvar random =Math.floor(Math.random() * 100) + 1; \ndiffvalue =  now - flow.get(\"hello-lt\");\nflow.set(\"hello-lt\",now);\nvar newmsg ={\n    event: \"Hello\",\n    value: 0,\n    orgvalue: 10,\n    deviceid: \"msg\",\n    ts: now,\n    random:random,\n    room: \"room\",\n    user: \"Markus\",\n    diffvalue:diffvalue,\n      text: \"2 IoT on Not 2 IoT?\",\n      location: \"Toronto, Canada\",\n      \"device\":\"Computer\",\n    ts:now\n}\n\nmsg.payload = newmsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":365,"y":680,"wires":[["f09c4be0.2f9338","a8d3c449.8491f8","adf26eda.d0407","c2c11092.309e4","250815fa.2c58fa","b8dd4eff.675f8"]]},{"id":"c530e49e.160858","type":"inject","z":"9d84b2c7.33e3f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":203,"y":696,"wires":[["4975d426.213a2c"]]},{"id":"a8d3c449.8491f8","type":"debug","z":"9d84b2c7.33e3f","name":"","active":false,"console":"false","complete":"false","x":637,"y":704,"wires":[]},{"id":"e7078315.e222b","type":"debug","z":"9d84b2c7.33e3f","name":"Other","active":true,"console":"false","complete":"payload","x":187,"y":450,"wires":[]},{"id":"27ca94d1.161e1c","type":"function","z":"9d84b2c7.33e3f","name":"carbonDioxide","func":"msg.payload = \"Carbon Dioxide is \"+msg.payload.d.value;\nreturn msg;","outputs":1,"noerr":0,"x":404,"y":429,"wires":[["77b4a19d.ab34c"]]},{"id":"adf26eda.d0407","type":"websocket out","z":"9d84b2c7.33e3f","name":"","server":"6115cabf.f4a944","client":"","x":638,"y":600,"wires":[]},{"id":"c2c11092.309e4","type":"websocket out","z":"9d84b2c7.33e3f","name":"","server":"cb20304d.c89ef","client":"","x":635,"y":543,"wires":[]},{"id":"aa73a58a.d76528","type":"twitter in","z":"9d84b2c7.33e3f","twitter":"622813fd.ead30c","tags":"#WatsonIoT","user":"true","name":"#WatsonIoT","inputs":0,"x":75,"y":745,"wires":[["661d961b.4ae4c8"]]},{"id":"73d36c37.500744","type":"function","z":"9d84b2c7.33e3f","name":"Filter","func":"\nmsg.payload = msg.tweet.user;\nvar now = ( new Date() ).getTime();\n\nvar extvalue = 400;\n\nvar random =Math.floor(Math.random() * 100) + 1; \ndiffvalue =  now - flow.get(\"twitter-lt\");\nflow.set(\"twitter-lt\",now);\nvar newmsg ={\n    event: \"twitter\",\n    value: 0,\n    orgvalue: 10,\n    deviceid: \"msg\",\n    ts: now,\n    random:random,\n    room: \"room\",\n    user: msg.tweet.user.name,\n    diffvalue:diffvalue,\n    text: msg.tweet.text,\n    screen_name: msg.tweet.user.screen_name,\n    location: msg.tweet.user.location,  \n     device: \"phone\",  \n    ts:now\n}\n\nmsg.payload = newmsg;\n\nreturn msg;\nreturn msg;","outputs":1,"noerr":0,"x":317,"y":789,"wires":[["250815fa.2c58fa","f09c4be0.2f9338","adf26eda.d0407","c2c11092.309e4","b8dd4eff.675f8"]]},{"id":"250815fa.2c58fa","type":"debug","z":"9d84b2c7.33e3f","name":"","active":false,"console":"false","complete":"false","x":530,"y":786,"wires":[]},{"id":"d823e71e.194778","type":"inject","z":"9d84b2c7.33e3f","name":"simtweet","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"x":163,"y":857,"wires":[["dd072440.7c48d8"]]},{"id":"dd072440.7c48d8","type":"function","z":"9d84b2c7.33e3f","name":"Filter","func":"\nvar newmsg ={\nevent: \"twitter\",\nvalue: 0,\norgvalue: 10,\ndeviceid: \"msg\",\nts: 1485980274598,\nrandom: 69,\nroom: \"room\",\nuser: \"Markus van Kempen\",\ndiffvalue: 5087,\ntext: \"#IBMIoT, #WatsonIoT -  Happy IoT World\",\nscreen_name: \"markusvankempen\",\nlocation: \"Toronto, Canada\",\ndevice:\"phone\"\n}\n\nmsg.payload = newmsg;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":337,"y":856,"wires":[["f09c4be0.2f9338","250815fa.2c58fa","b8dd4eff.675f8"]]},{"id":"749b86e4.09f2a8","type":"http in","z":"2de5a422.86f2bc","name":"/meetings","url":"/meetings","method":"get","swaggerDoc":"","x":161,"y":63,"wires":[["7eb6f5ae.d550bc"]]},{"id":"7eb6f5ae.d550bc","type":"function","z":"2de5a422.86f2bc","name":"formatoutput","func":"\nvar today = new Date();\nvar myToday = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 0, 0, 0);\nvar myYesterday = new Date(myToday) - 86400000;\nmyYesterdayDate = new Date(myYesterday);\nvar oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds\nvar firstDate = new Date(2017,02,15,0,0,0); //mucopen\nvar secondDate = new Date(2017,08,16,0,0,0);\n\nvar diffDays = Math.round(Math.abs((today.getTime() - secondDate.getTime())/(oneDay)));\n\nvar zeitdif = secondDate.getTime()- today.getTime();\n\nvar Seconds_from_T1_to_T2 = (zeitdif/1000);\nvar Seconds_Between_Dates = Math.abs(Seconds_from_T1_to_T2);\n\nvar zahl = Math.round((Seconds_from_T1_to_T2 - ((Seconds_from_T1_to_T2 /(7*86400))*(2*86400))) * (420/86400));\nvar max = 100000;\n\np1 = ((zahl/max)*100).toFixed(2);\np2 = (100-p1).toFixed(2);//Math.abs((max/zahl)*100).toFixed(0);\nvar DonutData = {\"data\": [\n {\n     \"name\"    : \"MettingstoHave\",\n     \"size\"    : p1,\n     \"caption\" : \"to go \"+zahl,\n     \"percent\" : p1,\n     \"current\" : zahl,\n     \"total\"   : max,\n     \"slide\"   : \"slide2\",\n     \"chart\"   : \"count\",  //pie //count\n     \"delay\"   : 10000, // 1sec =10000\n     \"title\"  : \"slide-2\",\n     \"toplable\"   : \"Meetings\",\n     \"botlable\"   : \"\",\n     \"unit\" :\"\"\n     },\n {\n     \"name\": \"MettingstoHad\",\n     \"size\": p2,\n     \"caption\": \"done \"+p2+\"%\"\n }],\n \"p1\": p1,\"p2\": p2, \"n\":zahl\n}; \n\n\nmsg.headers = {\n                    'Access-Control-Allow-Origin': '*',\n                    'content-type': 'application/json'\n                };\n                \n//msg.headers = {'content-type':'application/x-www-form-urlencoded'};\nmsg.payload = DonutData;\n\n  \nreturn msg;","outputs":1,"noerr":0,"x":133,"y":112,"wires":[["97b83d3b.92deb","8817bec2.a9ee2"]]},{"id":"97b83d3b.92deb","type":"debug","z":"2de5a422.86f2bc","name":"","active":true,"console":"false","complete":"payload","x":132,"y":160,"wires":[]},{"id":"8817bec2.a9ee2","type":"http response","z":"2de5a422.86f2bc","name":"","x":154,"y":201,"wires":[]},{"id":"abfb7168.fdff5","type":"http in","z":"2de5a422.86f2bc","name":"AllNumberFor Bubble","url":"/buble","method":"get","swaggerDoc":"","x":665,"y":68,"wires":[["7e75249.0f311dc"]]},{"id":"7e75249.0f311dc","type":"function","z":"2de5a422.86f2bc","name":"formatoutput","func":"\nvar today = new Date();\nvar myToday = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 0, 0, 0);\nvar myYesterday = new Date(myToday) - 86400000;\nmyYesterdayDate = new Date(myYesterday);\nvar oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds\nvar firstDate = new Date(2017,02,15,0,0,0); //mucopen\nvar secondDate = new Date(2017,08,16,0,0,0);\n\nvar diffDays = Math.round(Math.abs((today.getTime() - secondDate.getTime())/(oneDay)));\n\nvar zeitdif = secondDate.getTime()- today.getTime();\n\nvar Seconds_from_T1_to_T2 = (zeitdif/1000);\nvar Seconds_Between_Dates = Math.abs(Seconds_from_T1_to_T2);\n\nvar zahl = Math.round((Seconds_from_T1_to_T2 - ((Seconds_from_T1_to_T2 /(7*86400))*(2*86400))) * (420/86400));\nvar max = 100000;\n\np1 = ((zahl/max)*100).toFixed(2);\np2 = (100-p1).toFixed(2);//Math.abs((max/zahl)*100).toFixed(0);\nvar random =Math.floor(Math.random() * 30000) + 1; \nvar DonutData = \"id,value\\nAgglomerativeCluster,\"+zahl+\"\\nCommunityStructure,\"+random+\"\\nHierarchicalCluster,6714\\nMergeEdge,743\\nBetweennessCentrality,3534\\nflare.analytics.graph.LinkDistance,5731\\n\";\n\nmsg.headers = {\n                    'Access-Control-Allow-Origin': '*',\n                    'content-type': 'application/json'\n                };\n                \n//msg.headers = {'content-type':'application/x-www-form-urlencoded'};\nmsg.payload = DonutData;\n\n  \nreturn msg;","outputs":1,"noerr":0,"x":656,"y":118,"wires":[["5da025e4.1b016c","c7f6653b.9a88d8"]]},{"id":"5da025e4.1b016c","type":"debug","z":"2de5a422.86f2bc","name":"","active":true,"console":"false","complete":"payload","x":655,"y":166,"wires":[]},{"id":"c7f6653b.9a88d8","type":"http response","z":"2de5a422.86f2bc","name":"","x":677,"y":207,"wires":[]},{"id":"c0c2deb5.68e4","type":"http in","z":"2de5a422.86f2bc","name":"/markus","url":"/markus","method":"get","swaggerDoc":"","x":408,"y":69,"wires":[["131a4629.4ae1ca"]]},{"id":"131a4629.4ae1ca","type":"function","z":"2de5a422.86f2bc","name":"formatoutput","func":"\nvar today = new Date();\nvar myToday = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 0, 0, 0);\nvar myYesterday = new Date(myToday) - 86400000;\nmyYesterdayDate = new Date(myYesterday);\nvar oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds\nvar firstDate = new Date(2017,02,15,0,0,0); //mucopen\nvar secondDate = new Date(2017,08,16,0,0,0);\n\nvar diffDays = Math.round(Math.abs((today.getTime() - secondDate.getTime())/(oneDay)));\n\nvar zeitdif = secondDate.getTime()- today.getTime();\n\nvar Seconds_from_T1_to_T2 = (zeitdif/1000);\nvar Seconds_Between_Dates = Math.abs(Seconds_from_T1_to_T2);\n\nvar zahl = Math.round((Seconds_from_T1_to_T2 - ((Seconds_from_T1_to_T2 /(7*86400))*(2*86400))) * (420/86400));\nvar max = 100000;\n\np1 = ((zahl/max)*100).toFixed(2);\np2 = (100-p1).toFixed(2);//Math.abs((max/zahl)*100).toFixed(0);\nvar random =Math.floor(Math.random() * 30000) + 1; \nvar DonutData = {\"data\": [\n {\n     \"name\"    : \"MettingstoHave\",\n     \"size\"    : p1,\n     \"caption\" : \"to go \"+zahl,\n     \"percent\" : p1,\n     \"current\" : zahl,\n     \"total\"   : max,\n     \"slide\"   : \"slide2\",\n     \"chart\"   : \"count\",  //pie //count\n     \"delay\"   : 10000, // 1sec =10000\n     \"title\"  : \"slide-2\",\n     \"toplable\"   : \"Meetings Count Down\",\n     \"botlable\"   : \"\",\n     \"unit\" :\"\",\n     \"random\":random\n     },\n {\n     \"name\": \"MettingstoHad\",\n     \"size\": p2,\n     \"caption\": \"done \"+p2+\"%\"\n }],\n \"p1\": p1,\"p2\": p2, \"n\":zahl\n}; \n\n\nmsg.headers = {\n                    'Access-Control-Allow-Origin': '*',\n                    'content-type': 'application/json'\n                };\n                \n//msg.headers = {'content-type':'application/x-www-form-urlencoded'};\nmsg.payload = DonutData;\n\n  \nreturn msg;","outputs":1,"noerr":0,"x":380,"y":118,"wires":[["e700b7c4.9662b8","256a7d4c.e30372"]]},{"id":"e700b7c4.9662b8","type":"debug","z":"2de5a422.86f2bc","name":"","active":true,"console":"false","complete":"payload","x":379,"y":166,"wires":[]},{"id":"256a7d4c.e30372","type":"http response","z":"2de5a422.86f2bc","name":"","x":401,"y":207,"wires":[]},{"id":"e2274e40.b9a49","type":"websocket out","z":"9d84b2c7.33e3f","name":"","server":"e4ee68f6.d6ce58","client":"","x":890,"y":474,"wires":[]},{"id":"b8dd4eff.675f8","type":"delay","z":"9d84b2c7.33e3f","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"minutes","rate":"60","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":469.5,"y":501.75,"wires":[["e2274e40.b9a49","1cb6848d.7c9c3b","61db2f8b.ff946","2ce084a3.ed418c"]]},{"id":"1cb6848d.7c9c3b","type":"debug","z":"9d84b2c7.33e3f","name":"","active":false,"console":"false","complete":"false","x":854,"y":510,"wires":[]},{"id":"61db2f8b.ff946","type":"websocket out","z":"9d84b2c7.33e3f","name":"","server":"e32c02cb.f1493","client":"","x":915,"y":562,"wires":[]},{"id":"2ce084a3.ed418c","type":"websocket out","z":"9d84b2c7.33e3f","name":"","server":"34cf7466.e56b8c","client":"","x":919,"y":623,"wires":[]},{"id":"68cd544c.84e68c","type":"http in","z":"2de5a422.86f2bc","name":"/coffee","url":"/coffee","method":"get","swaggerDoc":"","x":144,"y":309,"wires":[["8aa0299d.9116c8"]]},{"id":"8aa0299d.9116c8","type":"function","z":"2de5a422.86f2bc","name":"formatoutput","func":"\nvar today = new Date();\nvar myToday = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 0, 0, 0);\nvar myYesterday = new Date(myToday) - 86400000;\nmyYesterdayDate = new Date(myYesterday);\nvar oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds\nvar firstDate = new Date(2017,02,15,0,0,0); //mucopen\nvar secondDate = new Date(2017,08,16,0,0,0);\n\nvar diffDays = Math.round(Math.abs((today.getTime() - secondDate.getTime())/(oneDay)));\n\nvar zeitdif = secondDate.getTime()- today.getTime();\n\nvar Seconds_from_T1_to_T2 = (zeitdif/1000);\nvar Seconds_Between_Dates = Math.abs(Seconds_from_T1_to_T2);\n\nvar zahl = Math.round((Seconds_from_T1_to_T2 - ((Seconds_from_T1_to_T2 /(7*86400))*(2*86400))) * 226 * (400/86400));\nvar max = 20341346;\n\np1 = ((zahl/max)*100).toFixed(2);\np2 = (100-p1).toFixed(2);//Math.abs((max/zahl)*100).toFixed(0);\nvar DonutData = {\"data\": [\n {\n     \"name\"    : \"CoffeestoDrink\",\n     \"size\"    : p1,\n     \"caption\" : \"to go \"+zahl,\n     \"percent\" : p1,\n     \"current\" : zahl,\n     \"total\"   : max,\n     \"slide\"   : \"step-1\",\n     \"chart\"   : \"count\",  //pie //count\n     \"delay\"   : 10000, // 1sec =10000\n     \"title\"  : \"slide-2\",\n     \"toplable\"   : \"Coffee\",\n     \"botlable\"   : \"\",\n     \"unit\" :\"\"\n     },\n {\n     \"name\": \"Coffess Drunk\",\n     \"size\": p2,\n     \"caption\": \"consumed\\n\"+p2+\"%\"\n }],\n \"p1\": p1,\"p2\": p2, \"n\":zahl\n}; \n\n\nmsg.headers = {\n                    'Access-Control-Allow-Origin': '*',\n                    'content-type': 'application/json'\n                };\n                \n//msg.headers = {'content-type':'application/x-www-form-urlencoded'};\nmsg.payload = DonutData;\n\n  \nreturn msg;","outputs":1,"noerr":0,"x":126,"y":358,"wires":[["7fa7bcc.26f3944","2cd70943.ed6466"]]},{"id":"7fa7bcc.26f3944","type":"debug","z":"2de5a422.86f2bc","name":"","active":true,"console":"false","complete":"payload","x":125,"y":406,"wires":[]},{"id":"2cd70943.ed6466","type":"http response","z":"2de5a422.86f2bc","name":"","x":147,"y":447,"wires":[]},{"id":"db80a9e1.801d38","type":"split","z":"9d84b2c7.33e3f","name":"","splt":"\\n","x":825,"y":77,"wires":[["64157c0d.715744"]]},{"id":"b9ff529d.9713f","type":"change","z":"9d84b2c7.33e3f","name":"temperatures","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.temperatures","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":673,"y":79,"wires":[["db80a9e1.801d38"]]},{"id":"64157c0d.715744","type":"change","z":"9d84b2c7.33e3f","name":"orb","rules":[{"t":"set","p":"topic","pt":"msg","to":"parts.index","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":965,"y":75,"wires":[["76784f57.ada6"]]},{"id":"76784f57.ada6","type":"range","z":"9d84b2c7.33e3f","minin":"19","maxin":"31","minout":"0","maxout":"100","action":"clamp","round":true,"name":"100","x":707,"y":122,"wires":[["cc8abc91.9214a"]]},{"id":"64cd56ed.dc0bd8","type":"debug","z":"9d84b2c7.33e3f","name":"","active":false,"console":"false","complete":"payload.d.reference","x":713,"y":40,"wires":[]},{"id":"e0e8e7e4.db0548","type":"json","z":"9d84b2c7.33e3f","name":"","x":687,"y":206,"wires":[["f52abfb2.9cbac"]]},{"id":"cc8abc91.9214a","type":"function","z":"9d84b2c7.33e3f","name":"colour","func":"var mid = 100/2;\n\nmsg.green = 0;\n\nif (msg.payload <= mid)\n{\n    msg.blue = 255;\n    msg.red = Math.floor(msg.payload/mid * 255 /1);\n}\nelse\n{\n    msg.red = 255;\n    msg.blue = Math.floor((mid*2 - msg.payload)/mid * 255 /1);\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":868,"y":120,"wires":[["4f0106ed.f33138"]]},{"id":"f52abfb2.9cbac","type":"debug","z":"9d84b2c7.33e3f","name":"","active":true,"console":"false","complete":"false","x":842,"y":199,"wires":[]},{"id":"4f0106ed.f33138","type":"function","z":"9d84b2c7.33e3f","name":"RGB","func":"msg.payload = \"#\" + pad(Dec2Hex(msg.red), 2) +\n                    pad(Dec2Hex(msg.green), 2) +\n                    pad(Dec2Hex(msg.blue), 2);\nreturn msg;\n\n\nfunction pad(s,z){s=\"\"+s;return s.length<z?pad(\"0\"+s,z):s}\nfunction Dec2Hex(n){if(!checkDec(n)||n<0)return 0;return n.toString(16)}\nfunction checkDec(n){return/^[0-9]{1,64}$/.test(n)}","outputs":1,"noerr":0,"x":1008,"y":119,"wires":[["2d7932ab.0ae98e","3764391b.685646"]]},{"id":"3764391b.685646","type":"debug","z":"9d84b2c7.33e3f","name":"","active":false,"console":"false","complete":"true","x":1131,"y":69,"wires":[]},{"id":"2d7932ab.0ae98e","type":"join","z":"9d84b2c7.33e3f","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"","x":701,"y":160,"wires":[["d5bba19f.7792b"]]},{"id":"d5bba19f.7792b","type":"json","z":"9d84b2c7.33e3f","name":"","x":869,"y":165,"wires":[["584bd541.ba286c"]]},{"id":"584bd541.ba286c","type":"function","z":"9d84b2c7.33e3f","name":"add 8","func":"msg.payload = '8' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1013,"y":162,"wires":[["4e755987.bc6208","f87f0fdc.8a911"]]},{"id":"4e755987.bc6208","type":"debug","z":"9d84b2c7.33e3f","name":"","active":false,"console":"false","complete":"payload","x":1174,"y":135,"wires":[]},{"id":"f87f0fdc.8a911","type":"function","z":"9d84b2c7.33e3f","name":"msg","func":"msg = {payload: msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":1161,"y":173,"wires":[[]]},{"id":"3911571e.fda398","type":"ibmiot in","z":"9d84b2c7.33e3f","authentication":"apiKey","apiKey":"f59f3a16.57f828","inputType":"evt","deviceId":"","applicationId":"","deviceType":"ThermImg","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":false,"allEvents":true,"allCommands":"","allFormats":false,"qos":0,"x":541,"y":126,"wires":[["b9ff529d.9713f","64cd56ed.dc0bd8"]]},{"id":"c4b39e0b.f6994","type":"function","z":"fc19238c.0aebc","name":"Set headers","func":"// Set the content type to audio wave\nmsg.headers={ 'Content-Type': 'audio/wav'};\nreturn msg;","outputs":1,"noerr":0,"x":441,"y":555,"wires":[["ada2df2a.8cda6"]]},{"id":"5fc08545.64a4dc","type":"http in","z":"fc19238c.0aebc","name":"","url":"/tts/sayit","method":"get","swaggerDoc":"","x":161,"y":448,"wires":[["fb962ac1.cf6218"]]},{"id":"fb962ac1.cf6218","type":"change","z":"fc19238c.0aebc","name":"text to payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.text_to_say","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":316,"y":383,"wires":[["9a53527c.710c8"]]},{"id":"9a53527c.710c8","type":"watson-text-to-speech","z":"fc19238c.0aebc","name":"","lang":"english","voice":"en-US_MichaelVoice","format":"audio/wav","x":371,"y":446,"wires":[["a2ecaf86.b0e34"]]},{"id":"a2ecaf86.b0e34","type":"change","z":"fc19238c.0aebc","name":"speech to payload","rules":[{"t":"set","p":"payload","to":"speech","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":411,"y":500,"wires":[["c4b39e0b.f6994"]]},{"id":"ada2df2a.8cda6","type":"http response","z":"fc19238c.0aebc","name":"","x":626,"y":445,"wires":[]},{"id":"c6e7fd93.8c2d6","type":"debug","z":"9d84b2c7.33e3f","name":"raus","active":false,"console":"false","complete":"payload","x":187,"y":637,"wires":[]},{"id":"661d961b.4ae4c8","type":"delay","z":"9d84b2c7.33e3f","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":127,"y":802,"wires":[["73d36c37.500744"]]},{"id":"593c39f4.32c7f8","type":"delay","z":"9d84b2c7.33e3f","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"minutes","rate":"6","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":118,"y":249,"wires":[["9c1f9d33.f192b"]]},{"id":"f584ef95.553b","type":"ibmiot in","z":"7d9a4670.698a98","authentication":"apiKey","apiKey":"f2f49ba.e042468","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"Hursely","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":138.5,"y":156.25,"wires":[["58e581e9.611e5"]]},{"id":"58e581e9.611e5","type":"debug","z":"7d9a4670.698a98","name":"","active":true,"console":"false","complete":"false","x":350.5,"y":165.5,"wires":[]},{"id":"be28e026.d5891","type":"function","z":"9d84b2c7.33e3f","name":"jc Message","func":"var now = ( new Date() ).getTime();\n\nvar extvalue = 566;\n\nvar random =Math.floor(Math.random() * 100) + 1; \ndiffvalue =  now - flow.get(\"hello-lt\") + 1000;\nflow.set(\"hello-lt\",now);\nvar newmsg ={\n    event: \"jc\",\n    value:  Math.floor(Math.random() *2000),\n    orgvalue: Math.floor(Math.random() *2000),\n    deviceid: \"msg\",\n    ts: now,\n    random:random,\n    room: \"room\",\n    user: \"JC\",\n    diffvalue:diffvalue,\n      text: \"2 IoT on Not 2 IoT?\",\n      location: \"Toronto, Canada\",\n      \"device\":\"Computer\",\n    ts:now\n}\n\nmsg.payload = newmsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":352,"y":920,"wires":[["f09c4be0.2f9338","adf26eda.d0407","c2c11092.309e4","250815fa.2c58fa"]]},{"id":"cb25b65c.0623f8","type":"inject","z":"9d84b2c7.33e3f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":155,"y":921,"wires":[["be28e026.d5891"]]},{"id":"430e546c.c362ec","type":"ibmiot in","z":"9d84b2c7.33e3f","authentication":"apiKey","apiKey":"3ccb8c42.c05004","inputType":"evt","deviceId":"liesl","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"LeislEvent","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":false,"qos":0,"x":135.74998474121094,"y":988.8571710586548,"wires":[["b39ebc77.b695c","be28e026.d5891"]]},{"id":"b39ebc77.b695c","type":"debug","z":"9d84b2c7.33e3f","name":"","active":true,"console":"false","complete":"false","x":344.57141876220703,"y":992.7857151031494,"wires":[]},{"id":"80367ae1.cd9eb8","type":"debug","z":"9d84b2c7.33e3f","name":"json","active":false,"console":"false","complete":"true","x":1222,"y":239,"wires":[]},{"id":"9b6f875.3297278","type":"switch","z":"9d84b2c7.33e3f","name":"Check Device Type","property":"deviceType","propertyType":"msg","rules":[{"t":"cont","v":"motion","vt":"str"},{"t":"cont","v":"temperatur","vt":"str"},{"t":"cont","v":"illuminance","vt":"str"},{"t":"cont","v":"relativeHumidity","vt":"str"},{"t":"cont","v":"hueLight","vt":"str"},{"t":"cont","v":"carbonDioxide","vt":"str"},{"t":"cont","v":"pressure","vt":"str"},{"t":"cont","v":"volatileOrganicCompound","vt":"str"},{"t":"cont","v":"soundPressureLevel","vt":"str"},{"t":"cont","v":"ThermImg","vt":"str"},{"t":"cont","v":"unitState","vt":"str"},{"t":"cont","v":"BLEbeacon","vt":"str"},{"t":"cont","v":"fussballtable","vt":"str"},{"t":"else"}],"checkall":"true","outputs":14,"x":964,"y":312,"wires":[["7662bee2.ef25a"],["7662bee2.ef25a"],["7662bee2.ef25a"],["7662bee2.ef25a"],["7662bee2.ef25a"],["7662bee2.ef25a"],["7662bee2.ef25a"],["7662bee2.ef25a"],["7662bee2.ef25a"],["7662bee2.ef25a"],["7662bee2.ef25a"],["7662bee2.ef25a"],["7662bee2.ef25a"],["ee6810f.bda82f"]]},{"id":"ee6810f.bda82f","type":"debug","z":"9d84b2c7.33e3f","name":"other","active":true,"console":"false","complete":"true","x":1052,"y":439,"wires":[]},{"id":"7662bee2.ef25a","type":"function","z":"9d84b2c7.33e3f","name":"CreateJson","func":"var now = ( new Date() ).getTime();\nvar str = msg.topic;\n //\"iot-2/type/motion/id/809646_EUI64-0080E1030005146B-4/evt/evt/fmt/json\";\nvar res = msg.deviceType; \n//node.warn(\"Type = \"+res)\n//str.split(\"/\");\n//node.warn(\"Type = \"+res[2])\nnewvalue = 0;\norgvalue =0;\n//return msg;\n//var    newvalue =msg.payload.d.value;\nif (res == \"temperature\" ||res == \"temperatureK\" )\n{\nnewvalue = msg.payload.value -273.15\n newvalue = newvalue.toFixed(2);\n}  \nvar extvalue =0;\nvar room = \"\";\n//'Blue Whale'.indexOf('Blue');\nif( res[4].indexOf('09646_EUI64-0080E10300045154') != -1)\nroom = \"Conf Room Blaze\";\n\nif( res[4].indexOf('09646_EUI64-0080E1030004553E') != -1)\nroom = \"Meeting Room North\";\n\nif( res[4].indexOf('809646_EUI64-0080E10300045264') != -1)\nroom = \"Meeting Room South\";\n\nif( res[4].indexOf('809646_EUI64-0080E10300045452') != -1)\nroom = \"Phone Room North\";\n\nif( res[4].indexOf('809646_EUI64-0080E10300045266') != -1)\nroom = \"Phone Room South\";\nvar now = ( new Date() ).getTime();\nvar eventvalue=0;\nvar diffvalue=0;\nvar device = \"Yanzi\";\nif( res == \"motion\")\n{\n   // node.warn(msg)\nextvalue = 100;\neventvalue = flow.get(\"motion\");\ndiffvalue =  now - flow.get(\"motion-lt\");\nflow.set(\"motion-lt\",now);\norgvalue = msg.payload.value;\nnewvalue = diffvalue;\n}\n\nif( res == \"temperature\")\n{\n\nextvalue = 200;\ndiffvalue =  now - flow.get(\"temperature-lt\");\nflow.set(\"temperature-lt\",now);\n}\nif( res == \"illuminance\")\n{\n    //    node.warn(msg)\n    orgvalue = msg.payload.value;\n    newvalue =msg.payload.colorTemperature;\nextvalue = 300;\ndiffvalue =  now - flow.get(\"illuminance-lt\");\nflow.set(\"illuminance-lt\",now);\n}\n\nif( res == \"relativeHumidity\")\n{\n  // node.warn(msg)\n    orgvalue = msg.payload.value;\n    newvalue = orgvalue\nextvalue = 400;\ndiffvalue =  now - flow.get(\"relativeHumidity-lt\");\nflow.set(\"relativeHumidity-lt\",now);\n}\n\n//volatileOrganicCompound\nif( res == \"volatileOrganicCompound\")\n{\n   //node.warn(msg)\n    orgvalue = msg.payload.value;\n    newvalue = orgvalue\nextvalue = 320;\ndiffvalue =  now - flow.get(\"relativeHumidity-lt\");\nflow.set(\"relativeHumidity-lt\",now);\n}\nif( res == \"carbonDioxide\")\n{\n    //    node.warn(res)\n      //node.warn(msg)\n    orgvalue = msg.payload.value;\n    newvalue = orgvalue;\nextvalue = 500;\ndiffvalue =  now - flow.get(\"carbonDioxide-lt\");\nflow.set(\"carbonDioxide-lt\",now);\n}\n\nif( res == \"pressure\")\n{\n    //    node.warn(res)\n      //node.warn(msg)\n    orgvalue = msg.payload.value;\n    newvalue =orgvalue;// (orgvalue-95000);\nextvalue = 2100;\ndiffvalue =  now - flow.get(\"pressure-lt\");\nflow.set(\"pressure-lt\",now);\n}\n\nif( res == \"BLEbeacon\")\n{\n  /*  ?*\n    VersionNr: \"1.0.1\"\nDeviceID: \"8A6A184D-CD64-4C7A-8DE0-4E3032BCD872\"\nModelID: \"iPhone SE\"\nPersonID: \"Munich.Center.IoT.Demos@de.ibm.com\"\nBeaconID: \"JXXFZR\"\nPlaceName: \"Alps Workspace 4\"\nLocation: \"Watson IoT Center\"\n*/\n    //    node.warn(res)\n      node.warn(msg)\n    orgvalue = Math.floor(Math.random() * 1000) + 1; \n    newvalue =orgvalue;// (orgvalue-95000);\nextvalue = 3100;\ndiffvalue =  now - flow.get(\"BLEbeacon-lt\");\nflow.set(\"BLEbeacon-lt\",now);\n}\n\n\nif( res == \"soundPressureLevel\")\n{\n    //    node.warn(res)\n     //node.warn(msg)\n    orgvalue = msg.payload.value;\n    newvalue = orgvalue;\nextvalue = 200;\ndiffvalue =  now - flow.get(\"pressure-lt\");\nflow.set(\"pressure-lt\",now);\n}\n//soundPres\n\n\nif( res == \"hueLight\")\n{\n //    node.warn(res)\n   //    node.warn(msg)\n    orgvalue = msg.payload.d.hue;\n    newvalue = msg.payload.d.sat;\n    device  = \"HueLight\";\n    // node.warn(\"Value = \"+newvalue)\nextvalue = 700;\ndiffvalue =  now - flow.get(\"hueLight-lt\");\nflow.set(\"hueLight-lt\",now);\n}\n\n\n\nif( res == \"unitState\")\n{\n    //node.warn(msg)\n     orgvalue = 1;\n         newvalue =1;\n     if ( msg.payload.assetState == \"isNoMotion\")\n        newvalue =0;\n    \n       device  = \"unitState\";\nnewvalue = 0;\nextvalue = 600;\ndiffvalue =  now - flow.get(\"unitState-lt\");\nflow.set(\"unitState-lt\",now);\n}\n\n\nif( res == \"ThermImg\")\n{\n    /*payload: object\nd: object\nreference: 33.2\ntemperatures: array[8]\n0: 25.5\n1: 25.3\n2: 25.6\n3: 24.8\n4: 25.3\n5: 25.9\n6: 25.3\n7: 25.2\n*/\n       // node.warn(msg)\n  //  orgvalue = msg.payload.value;\n    newvalue =msg.payload.d.temperatures[0];\ndevice  = \"thermal\";\norgvalue = msg.payload.d.reference;\nextvalue = 712;\ndiffvalue =  now - flow.get(\"ThermImg-lt\");\nflow.set(\"ThermImg-lt\",now);    \n}\n///fussballtable\n\nif( res == \"fussballtable\")\n{\n    \n     res = \"Fussball Goal:\"\n      //  node.warn(msg)\n     orgvalue = msg.payload.type; //type: \"goal\"\n    newvalue = msg.payload.team;\ndevice  = \"fussballtable\";\nextvalue = 712;\ndiffvalue =  now - flow.get(\"fussballtable-lt\");\nflow.set(\"fussballtable-lt\",now);    \n}\n\nif( res == \"EgyMet\")\n{\ndevice  = \"EgyMet\";\nnewvalue = msg.payload.d.watts;\nextvalue = 700;\ndiffvalue =  now - flow.get(\"EgyMet-lt\");\nflow.set(\"EgyMet-lt\",now);    \n}\n\nvar random =Math.floor(Math.random() * 100) + 1; \n\nvar newmsg ={\n    event: res,\n    value: newvalue,\n    orgvalue: orgvalue,\n    deviceid: msg.deviceId,\n    ts: now,\n    extvalue: extvalue,\n    eventvalue: eventvalue,\n    diffvalue: diffvalue,\n    random: random,\n    room: room,\n    device: device,\n    ts: now\n    \n}\n\nmsg.payload = newmsg;\n//if( res == \"hueLight\")\nreturn msg;","outputs":1,"noerr":0,"x":1222,"y":353,"wires":[["80367ae1.cd9eb8","398d3510.9065da"]]},{"id":"2395f625.fa028a","type":"ui_audio","z":"c85f59a7.3ec628","name":"Umbrellas","group":"f1b01c3f.031f1","voice":"","x":531.5,"y":2488.5,"wires":[]},{"id":"40b25204.97bf3c","type":"ui_gauge","z":"c85f59a7.3ec628","name":"","group":"b7305a23.679ee8","order":0,"width":"6","height":"4","gtype":"gage","title":"Meeting rooms to book","label":"rooms","format":"{{value}}","min":0,"max":"70800","colors":["#00b500","#e6e600","#ca3838"],"x":742.5,"y":210.5,"wires":[]},{"id":"517ca64c.6b28c8","type":"ui_gauge","z":"c85f59a7.3ec628","name":"","group":"b7305a23.679ee8","order":0,"width":"6","height":"4","gtype":"gage","title":"Elevator rides to take","label":"rides","format":"{{value}}","min":0,"max":"350000","colors":["#00b500","#e6e600","#ca3838"],"x":721.5,"y":701.5,"wires":[]},{"id":"a0372f92.1b34f","type":"ui_gauge","z":"c85f59a7.3ec628","name":"","group":"b7305a23.679ee8","order":0,"width":"6","height":"4","gtype":"gage","title":"Lines of code to write","label":"lines","format":"{{value}}","min":0,"max":"8000000","colors":["#00b500","#e6e600","#ca3838"],"x":778,"y":467,"wires":[]},{"id":"1f81749.2d3a68b","type":"ui_gauge","z":"c85f59a7.3ec628","name":"","group":"b7305a23.679ee8","order":0,"width":"6","height":"4","gtype":"gage","title":"Coffee to drink","label":"ml","format":"{{value}}","min":0,"max":"18000000","colors":["#00b500","#e6e600","#ca3838"],"x":784.5,"y":936.5,"wires":[]},{"id":"b6c6d2da.20c25","type":"ui_gauge","z":"c85f59a7.3ec628","name":"","group":"b7305a23.679ee8","order":0,"width":"6","height":"4","gtype":"gage","title":"Client teams to welcome","label":"client teams","format":"{{value}}","min":0,"max":"600","colors":["#00b500","#e6e600","#ca3838"],"x":783.5,"y":1146.5,"wires":[]},{"id":"da472c12.f5ac5","type":"ui_gauge","z":"c85f59a7.3ec628","name":"","group":"b7305a23.679ee8","order":0,"width":"6","height":"4","gtype":"gage","title":"Patents to file","label":"patents","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"x":805.5,"y":1386.5,"wires":[]},{"id":"4eb6965a.50d758","type":"ui_gauge","z":"c85f59a7.3ec628","name":"","group":"b7305a23.679ee8","order":0,"width":"6","height":"4","gtype":"gage","title":"Breaths to take","label":"breaths","format":"{{value}}","min":0,"max":"900000000","colors":["#00b500","#e6e600","#ca3838"],"x":822.5,"y":1668.5,"wires":[]},{"id":"fbe14b15.045c58","type":"ui_gauge","z":"c85f59a7.3ec628","name":"","group":"b7305a23.679ee8","order":0,"width":"6","height":"4","gtype":"gage","title":"Umbrellas to bring","label":"umbrellas","format":"{{value}}","min":0,"max":"15000","colors":["#00b500","#e6e600","#ca3838"],"x":875.5,"y":2429.5,"wires":[]},{"id":"80ff93ab.42213","type":"ui_gauge","z":"c85f59a7.3ec628","name":"","group":"b7305a23.679ee8","order":0,"width":"6","height":"4","gtype":"gage","title":"Data volume to analyze","label":"mb","format":"{{value}}","min":0,"max":"900000000","colors":["#00b500","#e6e600","#ca3838"],"x":836.5,"y":2192.5,"wires":[]}]
